.sixcol
  .field
    = f.label :local_name, 'Local Name'
    = f.text_field :local_name
  .field
    = f.label 'Sector'
    = f.collection_select(:sector_id, Sector.all, :id, :name, :include_blank => true)
  .field
    = f.label :site_id, 'Site'
    = f.collection_select(:site_id, Site.all, :id, :name)
.sixcol.last
  .field
    = f.label 'PC ID Number'
    = f.number_field :pc_id
  .field
    = f.label 'Stage'
    = f.collection_select(:stage_id, Stage.all, :id, :name, :include_blank => true)
  .field
    = f.label 'COS Date'
    = f.date_select :cos_date, :start_year => 1961, :end_year => Time.now.year + 3
.sixcol
  .field
    = f.label 'Emphasis'
    = f.text_area :emphasis
.sixcol.last
  .field
    = f.label 'Projects'
    = f.text_area :projects
