.feed_item
  .floatleft= avatar_for_user volunteer.user
  %h4= link_to volunteer.user.name, volunteer.user
  = link_to volunteer.site.region.name, volunteer.site.region if volunteer.site
  = volunteer.user.country
  %br
  = link_to volunteer.sector.name, volunteer.sector if volunteer.sector
  .clearfloat
