= bootstrap_form_for @ticket_code do |f|
  = f.text_field :name
  = f.text_field :description
  = f.text_field :color
  = f.check_box :sender
  = f.check_box :receiver
  = f.text_field :rank
  = f.actions
