.container
  .row
    .span-8
    .span-8
      - if params[:message]
        .box.error
          %h3 Login Error
          There has been an error with your login. Please try again.
      .box
        %h3 Third-party Providers
        .center.oauth_icons
          = link_to image_tag('fb.jpeg'), '/auth/facebook'
          -#%li= link_to 'Google', '/auth/google_oauth2'
          = link_to image_tag('twitter.jpeg'), '/auth/twitter'
      .box
        %h3 Don't use these services?
        %p
          = link_to "Create an account", new_identity_path
          or sign in below.
        = form_tag "/auth/identity/callback" do
          .field
            = label_tag :auth_key, "Email"
            = text_field_tag :auth_key
          .field
            = label_tag :password
            = password_field_tag :password
          .actions
            = submit_tag "Login"
    .span-8.last
>>>>>>> upstream/master
