%li
  = avatar_for_user blog.user
  %h4
    = blog.title
    %span
      = time_ago_in_words(blog.updated_at)
      ago
  %p
    .tags.right.inline= render 'shared/tags', :tags => blog.user.tag_list
    = blog.user.name
  %p= blog.description
  .tags.right= render 'shared/tags', :tags => blog.tag_list
  %p= link_to 'view blog', blog
