<%= form_for(@language) do |f| %>
  <%= render 'shared/form_error', :a => @language if @language.errors.any? %>

  <div class="field">
    <%= f.label 'Name*' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Two-letter Code*' %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
