.fourcol
  = form_for(@group) do |f|
    = render :partial => 'shared/form_error', :collection => @group
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :description
      = f.text_field :description

    .actions
      = f.submit
.fourcol
  -# if current_user && current_user.admin?
  = form_for @group.permissions.build, :remote => true do |f|
    = f.hidden_field(:group_id, :value => @group.id)
    .field
      = f.label :scope_id
      = f.collection_select(:scope_id, Scope.all, :id, :name)
    .field
      = f.label :target_id
      = f.collection_select(:target_id, Page.all, :id, :title)
    .field
      = f.label :privilege_id
      = f.collection_select(:privilege_id, Privilege.all, :id, :name)
    .actions
      = f.submit
.fourcol.last
