= form_for(@group) do |f|
  = render :partial => 'shared/form_error', :collection => @group
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description

  .actions
    = f.submit
