.container
  .row
    .threecol
      = render 'shared/menu'
    .sixcol
      %h1= pluralize(@group.users.count, @group.name)
      = will_paginate @users
      %ul
        = render @users if @users
      = will_paginate @users
    .threecol.last
      %p= @group.description
      %h3 Permissions
      %p The #{@group.name} group can:
      %ul= render :partial => 'permissions/permission', :collection => @group.permissions
