.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        %h1= pluralize(@group.users.count, @group.name)
        %ul.feed
          = render @users if @users
        = will_paginate @users
    .span-4.last
      .box
        %h3 About
        %p= @group.description
      .box
        %h3 Permissions
        %p The #{@group.name} group can:
        %ul= render :partial => 'permissions/permission', :collection => @group.permissions
