= f.inputs do
  = f.input :name
  = f.input :country, :as => :select, :collection => allowed_countries, :include_blank => false
  = f.input :tag_list
  = f.input :avatar
  = f.input :bio, :as => :text
  = f.inputs :email, :phone1, :email2, :phone2, :site

