%p By adding content to Volunteer or Staff fields, you will create a Volunteer, Staff member, or both.
= form_for(@user, :html => { :multipart => true } ) do |f|
  = render :partial => 'shared/form_error', :collection => @user
  = render :partial => 'shared/form_error', :collection => @volunteer
  = render :partial => 'shared/form_error', :collection => @staff
  .twelvecol.last
    %h2 User
    = render :partial => 'fields', :locals => { :f => f }
    - unless @user.volunteers.empty?
      .twelvecol.last
        %h2 Volunteer
        = f.fields_for :volunteers do |f2|
          = f2.hidden_field(:user_id, :value => @user.id)
          = render :partial => 'volunteers/fields', :locals => { :f => f2 }
    - unless @user.staff.empty?
      .twelvecol.last
        %h2 Staff Member
        = f.fields_for :staff do |s|
          = s.hidden_field(:user_id, :value => @user.id)
          = render :partial => 'staff/fields', :locals => { :f => s }
  .twelvecol.last
    %br
    %hr
    %br
    %br
    .actions
      = f.submit

    - if current_user && current_user.admin?
      = form_for @user.memberships.build, :remote => true do |f|
        = f.hidden_field(:user_id, :value => @user.id)
        .field
          = f.label :group_id
          = f.collection_select(:group_id, Group.all, :id, :name)
        .actions
          = f.submit
