.subnav
  %ul.nav.nav-pills
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        Users
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Alphabetical', users_path(:sort => 'name')
        %li= link_to 'Recently updated', users_path(:sort => 'updated_at')
        %li= link_to 'Table View', table_users_path if can? :table, User
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        Volunteers
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Alphabetical', volunteers_path(:sort => 'name')
        %li= link_to 'Recently updated', volunteers_path(:sort => 'updated_at')
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        Staff
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Alphabetical', staff_path(:sort => 'name')
        %li= link_to 'Recently updated', staff_path(:sort => 'updated_at')
    = render 'shared/search' unless params[:action] == 'table'
