.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      %h1= @title
      = will_paginate @users
      .span-9
        .box
          %h2 Alphabetical
          %ul
            = render @users
      .span-9
        .box
          %h2 Recently Updated
          %ul
            = render @recent
      .span-6.last
        .box
          %h3 A bit about us
          %ul
            %li= pluralize(User.all.count, 'total user')
            %li= pluralize(Volunteer.all.count, 'volunteer')
            %li= pluralize(Staff.all.count, 'staff member')
            %li= pluralize(Blog.all.count, 'blog')
        .box
          %h3 Top User Tags
          = cloud_of_tags User
        .box
          %h3 Who are our users?
          Our primary users are Peace Corps Volunteers (PCVs) and staff. However, anyone can log in, create a profile, and join the Peace Corps community. Every user you see here is not necessarily a PCV.
        = render 'shared/right_user_menu'
      .span-24.last
        = will_paginate @users
