.container
  .row
    .twocol
      = render 'layouts/menu'
    .eightcol
      %h1= @user.name
      %p alias
      %p
        sector
        %br emphasis
        %br projects
      %h3 Contact Info
      %p= @user.email
      %h3 Authorizations
      %h4 Groups
      %ul
        = render @groups if @groups
      %H4 Logins
      %ul
        = render @authorizations if (@authorizations && current_user?)
      %h3 Social Connections
      %h3 Authorship
      %h3 Editorship
      %h3 A little bit about #{@user.name}
      = markdown(@user.bio)
    .twocol.last
      = gravatar_for @user, :size => 160
