.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        %h1
          = @user.name
          .tags.right.inline= render 'shared/tags', :tags => @user.tag_list
        .span-12
          %p= Carmen.country_name(@user.country) if @user.country
          - if can? :read, @user
            %h3 Connect
            %p
              = @user.email
              - unless @user.email2.nil?
                %br
                = @user.email2
            - unless @user.phone1.nil?
              %p
                = @user.phone1
                - unless @user.phone2.nil?
                  %br
                  = @user.phone2
          - else
            %h4 Please indicate that you are a member of a Peace Corps post to access contact information.
        .span-12.last
          - if @user.blogs.any?
            %p #{link_to @user.blogs.first.title, @user.blogs.first.url} &rang; #{@user.blogs.first.description}
          - unless @user.site.nil?
            %p= link_to @user.site
          - if @user.libraries.any?
            %h3 Collections
            %ul= render @user.libraries
        .clearfloat
      - if @user.bio
        .box
          %h4 A little bit about #{@user.name}...
          = markdown(@user.bio)
      - if can? :read, Volunteer
        - @user.volunteers.each do |v|
          .box
            %h1
              = v.local_name
              = link_to 'destroy', v, confirm: 'Are you sure?', method: :delete if can? :destroy, v
            %div
              %p
                = "#{v.sector.name} Volunteer" if v.sector
                %br
                = Carmen.country_name(v.country) if v.country
                %br
                = v.stage.name if v.stage
              %h4 Site
              %p= v.site.name if v.site
              - if v.emphasis
                %h4 Emphasis
                %p= v.emphasis
              - if v.projects
                %h4 Projects
                %p= v.projects
      - if can? :read, Staff
        - @user.staff.each do |s|
          .box
            %h3
              Staff Member
              = link_to 'destroy', s, confirm: 'Are you sure?', method: :delete if can? :destroy, s
            %h4= s.site.name if s.site
            %p= Carmen.country_name(s.country) if s.country
            %p
              = s.building
              = "| #{s.office}" if s.office
              = "| #{s.floor.to_i.ordinalize} floor" if s.floor
            -if s.morning_open
              %p
                = s.morning_open.to_formatted_s(format = :time)
                \-
                = s.morning_close.to_formatted_s(format = :time)
                %br
                = s.afternoon_open.to_formatted_s(format = :time)
                \-
                = s.afternoon_close.to_formatted_s(format = :time)
            = markdown(s.details) if s.details
      - if @user.photos.any?
        .box
          %h3 Recently Uploaded Photos
          - @user.photos.limit(5).each do |p|
            = render p
      -if @user.documents.any?
        .box
          %h3 Recently Uploaded Docs
          - @user.documents.limit(5).each do |d|
            %p.inline.center
              = icon(:document)
              %br
              = link_to d.name, d
              %br
              = link_to icon(:document_download), d
      -if @user.contributions.any?
        .box
          %h3 Contributions
          %ul.feed
            - @user.contributions.each do |c|
              = render c.contributable
    .span-4.last
      = avatar_for_user @user, :size => :small
      = button_to 'Edit profile', edit_user_path, :method => :get if can? :update, @user
      - if @user.avatar? && can?(:update, @user)
        = button_to 'Remove photo', remove_avatar_user_path, :method => :put, :remote => true, :disable_with => 'please wait...'
      = button_to "I'm a Volunteer!", volunteer_request_feedback_index_path, :method => :get if can?(:update, @user) && !@user.volunteers.any?
      = render 'shared/right_user_menu'
      .box
        - if @user.groups.any?
          %h3 Groups
          %ul
            = render @user.groups
        - if can? :update, Group
          %h3 Add to group
          %ul
            - @membership = @user.memberships.build
            = render 'memberships/form'
