.container
  .row
    .threecol
      = gravatar_for @user, :size => 255
    .threecol
      %h1= @user.name
      %p= @user.email
    .threecol
      %h2 Authorizations
      %ul
        = render @authorizations if @authorizations
    .threecol.last
      %h2 Groups
      %ul
        = render @groups if @groups
  .row
    .threecol
    .ninecol.last
      = markdown(@user.bio)
