.container
  .row
    .threecol
      = render 'layouts/menu'
    .sevencol
      .sixcol
        %h1= @user.name
      .sixcol.last
      .sixcol
        - unless @user.volunteers.empty?
          %p
            = @user.country.name
            %br
            alias
            - @user.volunteers.each do |v|
              #{v.local_name},
          %h4 Sector
          = @user.volunteers.first.sector_id
          %h4 Emphasis
          %p= @user.volunteers.first.emphasis
          %h4 Projects
          %p= @user.volunteers.first.projects
        %h3 Connect
        %p
          = @user.email
          - unless @user.email2.nil?
            %br
            = @user.email2
        - unless @user.phone1.nil?
          %p
            = @user.phone1
            - unless @user.phone2.nil?
              %br
              = @user.phone2
        - unless @user.blogs.empty?
          %p #{link_to @user.blogs.first.title, @user.blogs.first.url} &rang; #{@user.blogs.first.description}
        - unless @user.site.nil?
          %p= link_to @user.site
        - unless @user.contributions.empty?
          %h3 Contributions
          %ul= render :partial => 'contributions/contribution', :collection => @user.contributions
      .sixcol.last
        - unless @user.groups.empty?
          %h3 Groups
          %ul
            = render @user.groups
        - unless @user.authorizations.empty?
          %h3 Social Connections
          %ul
            = render @user.authorizations
        - unless @user.permissions.empty?
          %h3 Specific Permissions
          %ul= render :partial => 'permissions/permission', :collection => @user.permissions
        - unless @user.groups.empty?
          %h3 Group Permissions
          - @user.groups.each do |g|
            %h4= g.name
            %ul= render :partial => 'permissions/permission', :collection => g.permissions
      - if @user.bio
        %h4.clearfloat A little bit about #{@user.name}...
        = markdown(@user.bio)
    .twocol.last
      = gravatar_for @user, :size => 160
