.twelvecol.last.feed_item
  .threecol= avatar_for feed_item
  .ninecol.last
    %h3= feed_item.title
    %p= link_to feed_item.description, feed_item
    %p= truncate(feed_item.content, :length => 200, :separator => ' ')
    %p
      - if current_user && current_user.moderator?
        = button_to 'edit', {:controller => params[:controller], :action => :edit, :id => feed_item.id}, :method => :get
        - if current_user.admin?
          = button_to 'delete', feed_item.class.name.constantize.find(feed_item.id), confirm: 'Are you sure?', method: :delete
      = link_to feed_item.language.code.upcase, feed_item.language if feed_item.language
