.span-24.last.feed_item
  .span-6= avatar_for feed_item, :size => :thumb
  .span-12
    %h3= feed_item.title
    %p= link_to feed_item.description, feed_item
    %p= truncate(strip_tags(markdown(feed_item.content)), :length => 200, :separator => ' ')
  .span-6.last
    %p
      #{time_ago_in_words(feed_item.updated_at)} ago
      %br
      = link_to feed_item.language.code.upcase, feed_item.language if feed_item.language
