.left_menu
  = link_to image_tag('pc_logo.png', :alt => "#{organization} #{country}", :id => 'main_menu_logo', :width => '260px'), root_path
  = render 'menu' rescue nil
  .accordion
    - if @page && Page.viewable_by(current_user).where(:parent_id => @page.id).any?
      %h3= @page.title
      %div
        %ul
          - Page.viewable_by(current_user).where(:parent_id => @page.id).each do |item|
            %li= link_to item.title, item
    - Page.find_by_sql("SELECT DISTINCT country FROM pages").each do |country|
      %h3{:id => country.country}= Carmen.country_name(country.country)
      %div
        %ul
          - Page.viewable_by(current_user).order('title ASC').where("parent_id IS NULL AND country = ?", country.country).each do |item|
            %li= link_to item.title, item
  .box
    %h2 Quick Links
    %ul
      %li= link_to 'Food Security Weekly Update', Page.where("title LIKE '%food security%'").first
  .box.search
    %h1 Google Search
    :erb
      <div id="google_search" name="google_search"><!-- Google search -->
        <form method="get" action="http://www.google.com/search">
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="hidden" name="oe" value="UTF-8" />
          <input type="hidden" name="domains" value="http://pcsenegal.org" />
          <input type="hidden" name="sitesearch" value="http://pcsenegal.org" checked />
          <!--<input type="submit" name="btnG" value="Google Search" height="50px" />-->
          <input type="text" name="q" maxlength="200" />
          <input type="submit">
        </form>
      </div><!--END Search Google -->
  :erb
    <!-- Performable Super Conversion Button -->
    <script src='//d1nu2rn22elx8m.cloudfront.net/buttons/8nTkT/TKVLd-RsqBruCPMxzR.js'></script>
    <!-- /Performable Super Conversion Button -->