= form_tag "/#{params[:controller]}/search", :method => :get, :class => 'navbar-form pull-right' do
  = text_field_tag :q
  = submit_tag 'search', :class => 'btn btn-success'
- if @count
  %p
    = pluralize(@count, 'result')
