= bootstrap_form_for(@library) do |f|
  = f.text_field :name
  = f.text_field :description
  = f.country_select(:country, 'SN')
  - if can? :manage, Library
    = f.collection_select(:user_id, User.all, :id, :name)
  - else
    = f.hidden_field(:user_id, :value => current_user.id)
  = f.text_field :tag_list
  = f.text_field :setting_list if can? :moderate, @library
  = f.submit
