.feed_item
  .floatleft= link_to(image_tag(library.avatar.photo(:icon), :width => '80'), library, :class => 'avatar')
  %h3
    = flag_icon(library.country.downcase)
    = link_to library.name, library
    %small
      = pluralize(library.stacks.count, 'item')
  %p
    = library.description
    = render 'shared/tags', :tags => library.tag_list
    %br
    maintained by
    = link_to library.user.name, library.user
  %hr.clearfloat
