.subnav
  %ul.nav.nav-pills
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        Sort by
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Recently updated', updated_pages_path
        %li= link_to 'Recently added', added_pages_path
    -#%li= link_to 'Most popular', ''
    %li= link_to 'All Libraries', libraries_path
    %li= link_to 'Table View', libraries_path
    %li= link_to 'Create Library', new_library_path if can? :create, Library
    - if can? :edit, @library
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
          Actions
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Edit', edit_library_path(@library)
          - if can? :destroy, @library
            %li= link_to 'Destroy', ''
    = render 'shared/search'
