<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
	<channel>
		<%= render 'shared/podcast' %>
		<% @mp3s.each do |mp3| %>
			<item>
				<title><%= mp3.name %></title>
				<itunes:author><%= mp3.author ? mp3.author : "Peace Corps #{mp3.user.country}" %></itunes:author>
				<itunes:subtitle><%= mp3.description %></itunes:subtitle>
				<itunes:summary><%= mp3.description %></itunes:summary>
				<enclosure url="<%= mp3.file.url %>" length="<%= mp3.file.size %>" type="<%= mp3.file_content_type %>" />
				<guid><%= mp3.file.url %></guid>
				<pubDate><%= mp3.updated_at.strftime('%a, %d %b %Y %H:%M:%S %z') %></pubDate>
        <itunes:duration><%= mp3.formatted_audio_length %></itunes:duration>
				<itunes:keywords><%= mp3.tag_list %></itunes:keywords>
			</item>
		<% end %>
	</channel>
</rss>
