.row
  .span3
    = render 'shared/menu'
  .span9
    = render 'menu'
    .row
      .span5
        %h1
          = flag_icon(@library.country.downcase)
          = @library.name
          = link_to 'edit', edit_library_path(@library) if can? :update, @library
        %h4= @library.description
      .span4
        %h3
          Questions? Comments? This library is managed by
        %ul.feed
          = render @library.user
    .tabbable
      %ul.nav.nav-tabs
        %li.active= link_to 'Files', '#files', 'data-toggle' => 'tab'
        %li= link_to 'Photos', '#photos', 'data-toggle' => 'tab'
      .tab-content
        .tab-pane#files.active
          = render @library.documents
        .tab-pane#photos
          = render @library.photos
