.container
  .row
    .span-5
      = render 'shared/menu'
    .span-13
      .box
        %h1= @library.name
        %ul.feed
          - @library.stacks.each do |s|
            = render s.stackable
    .span-6.last
      %h4= @library.description
      %p= @library.country
      %p This library is managed by
      = render @library.user
      = render 'shared/right_user_menu'
