= form_for(@import, :html => { :multipart => true }) do |f|
  = render 'shared/form_error', :a => @import if @import.errors.any?

  .field
    = f.label 'CSV file'
    = f.file_field :csv
  .field
    = f.label 'Name*'
    = f.text_field :name
  .field
    = f.label :comment
    = f.text_field :comment
  .field
    = f.label 'Scope*'
    = f.collection_select(:scope_id, Scope.all, :id, :name)
  .actions
    = f.submit
