.container
  .row
    .span-5
      = render 'shared/menu'
    .span-19.last
      %h1= @import.name
      %h4= @import.comment
      %p= @import.scope.name
      %p
        Processed?
        = @import.processed
      %p= @import.csv.path
      %p
        - if @import.processed == true
          Success! This import contained #{@import.processed} records
      %p= link_to "process", process_yaml_import_path(@import)
