- contribution = @page.contributions.build
= bootstrap_form_for contribution do |f|
  = f.hidden_field :contributable_type
  = f.hidden_field :contributable_id
  = f.collection_select :user_id, User.all, :id, :name
  = f.submit 'add as editor'
