= form_for(@page) do |f|
  = render :partial => 'shared/form_error', :locals => { :a => @page } if @page.errors.any?
  = render 'shared/country_field', :f => f
  .field
    = f.label 'Title*'
    = f.text_field :title
  .field
    = f.label 'Description*'
    = f.text_field :description
  .field
    = f.label 'Language*'
    = f.collection_select(:language_id, Language.all, :id, :name)
  .field
    = f.label :parent_id
    = f.collection_select(:parent_id, Page.unscoped.order('title ASC').all, :id, :title, :include_blank => true)
  .field
    = f.label 'Page Profile Photo'
    = f.collection_select(:photo_id, Photo.all, :id, :title, :include_blank => true)
  .field
    = f.label 'Content*'
    = f.text_area :content
  = render 'shared/tag_field', :f => f
  %h3 Set Authors
  = f.fields_for :contributions do |c|
    = c.hidden_field(:scope_id, :value => Scope.where(:name => 'Page').first.id)
    = c.hidden_field(:target_id, :value => @page.id)
    = render :partial => 'contributions/fields', :locals => { :f => c }
  .actions
    = f.submit
