= bootstrap_form_for(@page) do |f|
  = f.text_field :title
  = f.text_field :description
  - if can? :manage, Page
    = f.select :country, :collection => current_user.countries, :include_blank => false
  - else
    = f.select :country, current_user.countries, :include_blank => false
  = f.collection_select :parent, Page.accessible_by(current_ability), :id, :title
  = f.select :sort_by, :as => :select, :collection => {'Title' => 'title', 'Updated' => 'updated_at', 'Created' => 'created_at'}, :label => 'Sort children by'
  = f.select :sort_order, :as => :select, :collection => {'Ascending' => 'ASC', 'Descending' => 'DESC'}, :label => 'Sort children order'
  = f.collection_select :language, Language.all, :id, :name
  = f.collection_select :photo, Photo.all, :id, :title
  .control-group
    %label.control-label Created on
  = f.date_select :created_at
  = f.text_area :content, :label => 'Content'
  = f.text_field :tag_list
  = f.actions
