.subnav
  %ul.nav.nav-pills
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        Sort by
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Recently updated', updated_pages_path
        %li= link_to 'Recently added', added_pages_path
    -#%li= link_to 'Most popular', ''
    %li= link_to 'Page map', pages_path
    %li= link_to 'RSS/Atom Feed', feed_pages_path
    %li= link_to 'Create Page', new_page_path if can? :create, Page
    = render 'shared/search'
