.subnav
  %ul.nav.nav-pills
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        View by
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Hierarchical', pages_path
        %li= link_to 'Recently updated', updated_pages_path
        %li= link_to 'Recently added', added_pages_path
        %li= link_to 'Table', table_pages_path
    -#%li= link_to 'Most popular', ''
    %li= link_to 'RSS/Atom Feed', feed_pages_path
    %li= link_to 'Create Page', new_page_path if can? :create, Page
    - if user_signed_in? && @page && !@page.new_record?
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
          Actions
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Add to library', '#new_stack_form_modal', 'data-toggle' => 'modal' if can? :createt, Stack
          %li= link_to 'Properties', '#edit_page_form_modal', 'data-toggle' => 'modal' if can? :edit, @page
          %li= link_to 'Mercury Edit', '/editor' + request.path, :id => 'edit_link', :data => { :save_url => mercury_update_page_path(@page) }, :rel => 'popover-left', :title => 'Edit using Mercury Editor', 'data-content' => 'Mercury editor is is a very slick in-page editor. It will allow you to see the results of your changes as you make theme, like a word processor.<h3>Warning!</h3>Mercury Editor <strong>WILL NOT</strong> work with Internet Explorer, because IE is in no way standards compliant. If you want to edit pages, we <strong>strongly</strong> suggest you get a <em>real</em> browser such as Firefox or Chrome.' if can? :edit, @page
          %li= link_to 'Add editor', '#new_contributor_form_modal', 'data-toggle' => 'modal'
          %li= link_to 'Delete', '#destroy_page_form_modal', 'data-toggle' => 'modal' if can? :destroy, @page
    = render 'shared/search' unless params[:action] == 'table'
