%li.feed_item
  = avatar_for page, :size => size ||= :icon
  %h4
    = link_to page.title, page
    = link_to 'edit', edit_page_path(page) if can? :update, page
    %span #{time_ago_in_words(page.updated_at)} ago
  %p= truncate(page.description, :length => 100, :separator => ' ')
  .tags.right= render 'shared/tags', :tags => page.tag_list
