.container
  .row
    .threecol
      = render 'shared/menu'
    .sevencol
      = will_paginate @pages
      = render :partial => 'shared/feed_item', :collection => @pages
      = will_paginate @pages
    .twocol.last
      = render 'shared/social'
