.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        = render 'shared/search'
      .box
        %ul.feed
          = render @pages
      .center= will_paginate @pages
    .span-4.last
      = render 'shared/social'
      = render 'shared/right_user_menu'
