.row
  .span3
    = render 'shared/menu'
  .span7
    = render 'menu'
    %h1= @title
    = render @pages
    = will_paginate :class => 'pagination pagination-centered'
  .span2
    %h3 Popular Page Tags
    = cloud_of_tags Page

