.container
  .span3
    = render 'shared/menu'
  .span7
    .page-header
      %h1= @title
    = render 'menu'
    %ul.feed
      = render @pages
    = will_paginate :class => 'pagination pagination-centered'
    = render 'shared/search'
  .span2
    = render 'shared/social'
