.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      = will_paginate @pages
      .box
        %ul.feed
          = render @pages
      = will_paginate @pages
    .span-4.last
      = render 'shared/social'
