.container
  .row
    .span12
      = render 'menu'
  .row
    .span3
      = render 'shared/menu'
    .span7
      .box
        = render 'shared/search'
      .box
        %ul.feed
          = render @pages
      .center= will_paginate @pages
    .span2
      = render 'shared/social'
