.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      %h1= @title
      = nested_li(current_user.viewable_pages.order('title ASC').where("country = ?", current_user.country)) do |item|
        - link_to item.title, item
    .span-4.last
      .box
        %h2 Top Tags
        = cloud_of_tags Page
      = render 'shared/right_user_menu'
