.container
  .row
    .threecol
      = render 'shared/menu'
    .sevencol.show_page
      %h1= @page.title
      = markdown(@page.content)
    .twocol.last
      = avatar_for @page, :size => :thumb
      %h2 Case Studies
      %h3 Tags
      %h3 Authors
      = render 'shared/social'
