.container.page
  .row
    .threecol.menu_col
      = render 'layouts/menu'
    .sevencol.show_page
      %h1= @page.title
      = markdown(@page.content)
    .twocol.last
      = image_tag('', :width => '200px')
      %h2 Case Studies
      %h3 Tags
      %h3 Authors
      = render 'shared/social'
