.row
  .span12
    = render 'menu'
.row
  .span3
    = render 'shared/menu'
  .span7
    %ul.breadcrumb
      %li you are here
      %span.divider &rang;&rang;
      %li= link_to 'Home', pages_path
      %span.divider &rang;
      - @page.ancestors.each do |a|
        %li= link_to a.title, a
        %span.divider &rang;
      %li= @page.title
    %h1
      = flag_icon(@page.country.downcase)
      = @page.title
      %small
        last updated
        = time_ago_in_words(@page.updated_at)
        ago
    %h4
      %small originally posted
      = @page.created_at.strftime('%d %B %Y')
    %hr
    - if can? :update, @page
      .tabbable.tabs-right
        %ul.nav.nav-tabs
          %li.active= link_to 'view', '#1', 'data-toggle' => 'tab'
          %li= link_to 'edit', '/editor' + request.path, :id => 'edit_link', :data => { :save_url => mercury_update_page_path(@page) }
          %li= link_to 'properties', '#2', 'data-toggle' => 'tab'
          %li= link_to 'destroy', '#3', 'data-toggle' => 'tab' if can? :destroy, @page
        .tab-content
          .tab-pane#1.active
            %p= @page.description
            .tags.right= render 'shared/tags', :tags => @page.tag_list
            .mercury-region#page_content{'data-type' => 'editable'}= markdown(@page.content)
          .tab-pane#2
            - @page.contributions.build if @page.contributions.empty?
            = render 'form'
          .tab-pane#3
            .well
              %h1 You sure?
              = button_to 'destroy this page', @page, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' if can? :destroy, @page
    - else
      %p= @page.description
      .tags.right= render 'shared/tags', :tags => @page.tag_list
      = markdown(@page.content)
  .span2
    = avatar_for @page, :size => :medium
    = render 'shared/social'
    .accordion#accordion1
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion1', 'href' => '#pages'} Suggested Reading
        .accordion-body#pages.collapse.in
          .accordion-inner
            %ul.nav.nav-list
              - @pages.each do |p|
                %li= link_to p.title, p
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion1', 'href' => '#case_studies'} Case Studies
        .accordion-body#case_studies.collapse
          .accordion-inner
            %ul.nav.nav-list
              - @case_studies.each do |c|
                %li= link_to c.title, c
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordion1', 'href' => '#authors'} Authors
          .accordion-body#authors.collapse
            .accordion-inner
              %ul.nav.nav-list
                - @page.contributions.each do |c|
                  - unless c.new_record?
                    %li.feed_item
                      = link_to c.user.name, c.user
                      - if can? :destroy, c
                        |
                        = link_to 'remove', c, :confirm => 'Are you sure?', :method => :delete, :remote => true, :disable_with => 'removing...'
      .well
        %h3 Tag Cloud
        = cloud_of_tags(Page)
      - if can? :manage, Contribution
        .box
          %h3 Add Contributor
          - @contribution = @page.contributions.build
          = semantic_form_for @contribution, :remote => true do |f|
            = f.inputs do
              = f.input :user
              = f.input :contributable_type, :as => :hidden
              = f.input :contributable_id, :as => :hidden
            = f.buttons do
              = f.commit_button :input_html => {:disable_with => 'wait'}
