.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        %h4.inline you are here &rang;
        = link_to 'Home', pages_path
        - @page.ancestors.each do |a|
          %h4.inline &rang;
          = link_to a.title, a
        &rang;
        = @page.title
      .box.longform
        %h1
          = flag_icon(@page.country.downcase)
          = @page.title
          = link_to 'edit', edit_page_path(@page) if can? :update, @page
          %span
            last updated
            = time_ago_in_words(@page.updated_at)
            ago
        %p= @page.description
        %h4= @page.created_at.strftime('%d %B %Y')
        .tags.right= render 'shared/tags', :tags => @page.tag_list
        = markdown(@page.content)
        .clearfloat
      .box
        = render 'shared/search'
    .span-4.last
      = avatar_for @page, :size => :medium
      .box
        %h2 Case Studies
        %ul
          - @case_studies.each do |c|
            %li= link_to c.title, c
      .box
        %h3 Tag Cloud
        = cloud_of_tags(Page)
      .box
        %h2 Suggested Reading
        %ul
          - @pages.each do |p|
            %li= link_to p.title, p
      - if @page.contributions.any?
        .box
          %h3 Authors
          %ul.feed
            - @page.contributions.each do |c|
              %li.feed_item
                = link_to c.user.name, c.user
                |
                = link_to 'remove', c, :confirm => 'Are you sure?', :method => :delete, :remote => true, :disable_with => 'removing...' if can? :destroy, c
      = render 'shared/social'
      = render 'shared/right_user_menu'
      %p= button_to 'destroy this page', @page, :method => :delete, :confirm => 'Are you sure?' if can? :destroy, @page
      - if can? :manage, Contribution
        .box
          %h3 Add Contributor
          - @contribution = @page.contributions.build
          = semantic_form_for @contribution, :remote => true do |f|
            = f.inputs do
              = f.input :user
              = f.input :contributable_type, :as => :hidden
              = f.input :contributable_id, :as => :hidden
            = f.buttons do
              = f.commit_button :input_html => {:disable_with => 'wait'}
