.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        %h4.inline you are here &rang;
        = link_to 'Home', pages_path
        - @page.ancestors.each do |a|
          %h4.inline &rang;
          = link_to a.title, a
        &rang;
        = @page.title
      .box
        %h1
          = @page.title
          %span
            last updated
            = time_ago_in_words(@page.updated_at)
            ago
        %p= @page.description
        .tags.right= render 'shared/tags', :tags => @page.tag_list
      = markdown(@page.content)
      .box
        %h4= Carmen.country_name(@page.country)
    .span-4.last
      = avatar_for @page, :size => :small
      = button_to 'Edit Page', edit_page_path(@page), :method => :get
      .box
        %h2 Case Studies
      .box
        %h3 Tag Cloud
        = cloud_of_tags(Page)
      - if @page.contributions.any?
        .box
          %h3 Authors
          %ul
          - @page.contributions.each do |c|
            %li= link_to c.user.name, c.user
      = render 'shared/social'
      = render 'shared/right_user_menu'
