.row
  .span12
    = render 'menu'
.row
  .span3
    = render 'shared/menu'
  .span7
    %ul.breadcrumb
      %li you are here
      %span.divider &rang;&rang;
      %li= link_to 'Home', pages_path
      %span.divider &rang;
      - @page.ancestors.each do |a|
        %li= link_to a.title, a
        %span.divider &rang;
      %li= @page.title
    %h1
      = flag_icon(@page.country.downcase)
      = @page.title
    %blockquote
      %p
        %i= @page.description
    %h1.right
      %small
        last updated #{timeago(@page.updated_at)},
        originally posted
        = @page.created_at.strftime('%d %B %Y')
    .tags
      = render 'shared/tags', :tags => @page.tag_list
      = link_to '#bitly_url_qrcode', 'data-toggle' => 'modal' do
        %i.icon-qrcode{ :rel => 'popover-top', :title => 'Get a QR Code', 'data-content' => "<h3>What's a QR Code?</h3>QR Codes are 3-dimensional barcodes which can be scanned by smartphones and used to store URLs. This link will take you to a QR Code image you can use online or in print to represent this page." }
      = link_to '#bitly_url', 'data-toggle' => 'modal' do
        %i.icon-resize-small{ :rel => 'popover-top', :title => 'Get a shortened URL', 'data-content' => "<h3>Why should I care?</h3>URLs can be long. Just take a look up in your address bar. If you want to Tweet this URL, post it somewhere, or just save space, you can use this one instead. Click to retrieve it." }
    %hr
    - if can? :edit, @page
      .mercury-region#page_content{'data-type' => 'editable'}= raw(@page.content)
    - else
      = markdown(@page.content)
    %hr
    :erb
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pcsenegal'; // required: replace example with your forum shortname
        // turn on dev mode for dev/test env
        var disqus_developer = <%= Rails.env.production? ? 0 : 1 %>;
        // identify current page
        var disqus_identifier = "page-<%= @page.id %>";
        // identify current url
        var disqus_url = "<%= page_url(@page) %>";
        // set the thread title
        var disqus_title = "<%= @page.canonical_title %>";
        // set the category to pages
        var disqus_category_id = '1483633';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  .span2
    = avatar_for @page, :size => :medium
    = render 'shared/social'
    %ul.nav.nav-list
      -if @pages
        %li.nav-header Related Pages
        - @pages.each do |p|
          %li= link_to p.title, p
      - if @case_studies
        %li.nav-header Related Case Studies
        - @case_studies.each do |c|
          %li= link_to c.title, c
      - if @page.contributions.count > 0
        %li.nav-header Editors
        - @page.contributions.each do |c|
          - unless c.new_record?
            %li
              = link_to c.user.name, c.user
              - if can? :destroy, c
                %small= button_to 'remove', c, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini'
      - if @page.stacks.any?
        %li.nav-header Libraries
        - @page.stacks.each do |s|
          %li
            = link_to s.library.name, s.library
            = button_to 'remove', s, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'
    %hr
    %h3 Popular Page Tags
    = cloud_of_tags Page
= render 'shared/modal_standard', :id => 'new_contributor_form_modal', :title => 'Add an editor', :body => render('pages/contributor_form')
= render 'shared/modal_standard',:id => "bitly_url", :title => 'Bit.ly Shortened URL', :body => raw("<p>#{shorten_url(page_url(@page))}<p>#{link_to 'Why is this not a link?', '/help#shortlinks'}</p>"), :footer => nil
= render 'shared/modal_standard',:id => "bitly_url_qrcode", :title => 'QR Code', :body => image_tag(shorten_url(page_url(@page), :qr, :medium => 'qrcode')) + raw("<p>#{link_to 'What do I do with this?', '/help#qrcodes'}</p>"), :footer => nil
- if can? :edit, @page
  = render 'shared/modal_standard', :id => 'edit_page_form_modal', :title => 'Edit properties', :body => render('pages/form')
- if can? :destroy, @page
  = render 'shared/modal_standard', :id => 'destroy_page_form_modal', :title => 'Are you sure?', :body => button_to('Delete page', @page, :method => :delete, :class => 'btn btn-danger')
- if can? :create, Stack
  = render 'shared/modal_standard', :id => 'new_stack_form_modal', :title => 'Add to a library', :body => render('pages/stacks_form')
