.container-fluid
  .row-fluid
    .span6
      %p#notice= notice


      %h1
        = @ticket.subject
        %small
          = @ticket.ticket_category.name
          |
          = @ticket.priority.name
          priority
      %p
        = @ticket.body
      - unless @ticket.ref_id.nil?
        %p
          %b Ref:
          = link_to Ticket.find(@ticket.ref_id).subject, Ticket.find(@ticket.ref_id)
    .span6
      %h3 Updates
      = bootstrap_form_for @ticket do |f|
        = f.fields_for :ticket_updates do |ff|
          - if ff.object.new_record?
            = ff.hidden_field :user_id, :value => current_user.id
            = ff.collection_select :ticket_code_id, TicketCode.all, :id, :name
            = ff.text_field :comment, :value => nil, :placeholder => 'add a comment...'
          - else
            = render ff.object
        = f.submit
      %hr
      %h3 Ownership
      = bootstrap_form_for @ticket do |f|
        = f.fields_for :ticket_owners do |ff|
          - if ff.object.new_record?
            = ff.hidden_field :ticket_code_id, :value => TicketCode.find_by_name('transfer').id
            = ff.collection_select :from_id, User.all, :id, :name
            = ff.collection_select :to_id, User.all, :id, :name
          - else
            = render ff.object
        = f.submit
