.feed_item
  - if can? :read, document
    .floatleft= document_icon_for document, :size => size ||= :thumb
    %h3
      = link_to document.name, document
      = link_to 'edit', edit_document_path(document) if can? :update, document
      %small
        = time_ago_in_words(document.updated_at)
        ago by
        = link_to document.user.name, document.user
    %p= document.description if document.description
    %p
      -if document.author
        authored by
        = document.author
        %br
      - if document.language
        = document.language.name
        %br
      = render document.roles
    %p
      = link_to 'download', download_document_path(document) if can? :read, document
      = mime_icon(document.file_content_type)
      = document.file.size
      bytes
    .tags.right= render 'shared/tags', :tags => document.tag_list
    %hr
  - else
    %p
      You do not have access to document ID##{document.id}. If you believe this is in error, please contact a site administrator, noting the ID# of the document.
    %hr
