.feed_item
  - if can? :read, document
    .floatleft= document_icon_for document, :size => size ||= :thumb
    %h3
      = link_to document.name, document
      = link_to 'edit', edit_document_path(document) if can? :update, document
      %small
        = time_ago_in_words(document.updated_at)
        ago by
        = link_to document.user.name, document.user
    %p
      - if document.description
        = document.description
        %br
      - if document.author
        authored by
        = document.author
        %br
      - if document.language
        = document.language.name
    %p
      = link_to download_document_path(document), :rel => 'popover-right', :title => 'Download', 'data-content' => "#{document.file_content_type}<hr/>#{((document.audio_length ? "#{document.formatted_audio_length}<br/>" : ' ') + "#{change_units(document.file_file_size)}")}" do
        %i.icon-download-alt
      - if document.source.path
        %i.icon-folder-close{ :rel => 'popover-top', :title => 'Source File Present', 'data-content' => "This file has an attached source file, which may be an editable version of this document. If you would like access to it, please contact your PCVL.<hr/>#{document.source_file_name}<br/>#{document.source_comment}" }
      = mime_icon(document.file_content_type)
      = render document.roles
      = render 'shared/tags', :tags => document.tag_list
  - else
    .alert.alert-info
      - if user_signed_in?
        You do not have access to all documents. If you are a PCV or Staff member, request access #{link_to 'here', volunteer_request_feedback_index_path}.
      - else
        You do not have access to all documents. For greater access privileges, please #{link_to 'login', login_path} as a PCV or staff member.
  %hr.clearfloat
