.feed_item
  - if can? :read, document
    .floatleft= document_icon_for document, :size => size ||= :thumb
    %h3
      = link_to document.name, document
      = link_to 'edit', edit_document_path(document) if can? :update, document
      %small
        = time_ago_in_words(document.updated_at)
        ago by
        = link_to document.user.name, document.user
    %p= document.description if document.description
    %p
      - if document.source
        source file:
        = document.source_file_name
        %br
      - if document.author
        authored by
        = document.author
        %br
      - if document.language
        = document.language.name
        %br
      = render document.roles
    %p
      = link_to 'download', download_document_path(document), :rel => 'popover-right', :title => document.file_content_type, 'data-content' => ((document.audio_length ? "#{document.formatted_audio_length}<br/>" : ' ') + "#{change_units(document.file_file_size)} Mb")
      = mime_icon(document.file_content_type)
    .tags.right= render 'shared/tags', :tags => document.tag_list
    %hr
  - else
    %p
      You do not have access to document ID##{document.id}. If you believe this is in error, please contact a site administrator, noting the ID# of the document.
    %hr
