= f.file_field :file, :label => 'File to upload (currently limited to 30Mb)'
= f.file_field :source, :label => 'Source file for main file. This can be a proprietary editable format'
= f.text_field :source_comment, :label => 'Describe the source document'
= f.text_field :name
= f.text_field :author
= f.collection_select :language_id, Language.all, :id, :name
= f.text_field :description
= f.text_field :tag_list
= f.select :country, allowed_countries
= f.collection_check_boxes :role_ids, Role.unscoped.order('name ASC').all, :id, :name, :label => 'Permissions'

