= render 'shared/form_error', :error => f.object
%fieldset
  %legend Primary File
  .control-group
    %label.control-label Primary file
    .controls
      = f.file_field :file, :rel => 'popover-right', :title => 'Allowed File Types', 'data-content' => 'The following file types are allowed:<ul><li>mp3</li><li>pdf</li><li>txt</li><li>csv</li><li>xml</li><li>html</li><li>ppt</li><li>xls</li><li>kml</li><li>tex</li><li>swf</li><li>rss</li></ul>'
      %p.help-block NO MS Word files; max size 30Mb
  .control-group
    %label.control-label File Name/Title
    .controls
      = f.text_field :name
  .control-group
    %label.control-label Author
    .controls
      = f.text_field :author
      %p.help-block Who created the thing?
  .control-group
    %label.control-label Language
    .controls
      = f.collection_select :language_id, Language.all, :id, :name
  .control-group
    %label.control-label Description
    .controls
      = f.text_field :description
      %p.help-block If it's not entirely clear what this is, explain it.
  .control-group
    %label.control-label Tags
    .controls
      = f.text_field :tag_list
      %p.help-block Tags are important, because they connect this file to relevant users, pages, case studies, photos, and libraries! Wow, that's a lot.
  .control-group
    %label.control-label Country
    .controls
      = f.select :country, allowed_countries
  .control-group
    %label.control-label Permissions
    .controls
      -#= f.collection_check_boxes :role_ids, Role.unscoped.order('long_name ASC').all, :id, :long_name, :label => 'Permissions'
      %label.radio
        = radio_button_tag :permission, 'public'
        Public: EVERYONE can view this
      %label.radio
        = radio_button_tag :permission, 'pcvstaff'
        Peace Corps Volunteers & Staff ONLY
      %label.radio
        = radio_button_tag :permission, 'pc'
        Peace Corps PCVs, Staff, Invitees & Trainees
      %p.help-block You can restrict access to this document. Keep in mind that these permissions are not hierarchical; if you set it to 'Volunteer' only, PC Staff members will be unable to view it. To restrict a document to PCVs and Staff, check 'Volunteer' and 'Staff' only."
%fieldset
  %legend Source File
  .control-group
    %label.control-label Source File
    .controls
      = f.file_field :source, :rel => 'popover-right', :title => 'Allowed File Types', 'data-content' => 'The following file types are allowed:<ul><li>all main file types (hover above)</li><li>doc</li><li>docx</li></ul>'
      %p.help-block Source files are original files which may have been used to generate the primary file. A training manual, for example, should be distributed in PDF or eBook format, but the origin might be a Word document. Attach the original here.
  .control-group
    %label.control-label Comment
    .controls
      = f.text_field :source_comment, :rel => 'popover-right-focus', :title => "Why'd you add a source?", 'data-content' => "Details regarding the source file, and why you've attached it, perhaps."
