= semantic_form_for(@document, :multipart => true) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :file, :label => 'File to upload (currently limited to 30Mb)'
    = f.input :source, :label => 'Source file for main file. This can be a proprietary editable format'
    = f.input :source_comment, :label => 'Describe the source document'
    = f.input :name
    = f.input :author
    = f.input :language, :include_blank => true
    = f.input :description
    = f.input :tag_list
    = f.input :roles, :as => :check_boxes
  = f.buttons do
    = f.commit_button
