.subnav
  %ul.nav.nav-pills
    %li= link_to 'Recently updated', documents_path
    %li= link_to 'Table View', table_documents_path
    = form_tag search_documents_path, :method => :get, :class => 'navbar-form pull-right' do
      = text_field_tag :q, nil, :placeholder => "search within files"
      = submit_tag 'search', :class => 'btn btn-success'
