.row
  .span3
    = render 'shared/menu'
  .span7
    = render 'menu'
    %section
      %h1 Files
      %ul.feed
        = render @documents
      .center= will_paginate
  .span2
    .box
      %h3 Top Document Tags
      = cloud_of_tags
