.container
  .row
    .span-5
      = render 'shared/menu'
    .span-5
    .span-9
      = will_paginate
      .box
        %h1 Documents
        %ul
          = render @documents
      = will_paginate
    .span-5.last
      .box
        %h3 Top Document Tags
        = cloud_of_tags
