.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      = will_paginate
      .box
        %h1 Documents
        %ul.feed
          = render @documents
      = will_paginate
    .span-4.last
      .box
        %h3 Top Document Tags
        = cloud_of_tags
      = render 'shared/right_user_menu'
