.row
  .span12
    = render 'menu'
.row
  .span3
    = render 'shared/menu'
  .span7
    %section
      %h1 Documents
      %ul.feed
        = render @documents
      .center= will_paginate
      = render 'shared/search'
  .span2
    .box
      %h3 Top Document Tags
      = cloud_of_tags
