.container
  .row
    .span3
      = render 'shared/menu'
    .span7
      .box
        %h1
          = @document.name
          %p= render 'shared/tags', :tags => @document.tag_list
        %hr
        .tabbable.tabs-right
          %ul.nav.nav-tabs
            %li.active= link_to 'view', '#view', 'data-toggle' => 'tab'
            %li= link_to 'edit', '#edit', 'data-toggle' => 'tab'
            %li= link_to 'destroy', '#destroy', 'data-toggle' => 'tab'
          .tab-content
            .tab-pane#view.active
              %p= @document.description
              %p
                - if @document.author
                  author:
                  = @document.author
                  %br
                - if @document.language
                  language:
                  = @document.language.name
              %p
                = link_to 'download', download_document_path(@document) if can? :read, @document
                = mime_icon(@document.file_content_type)
                = @document.file_content_type
                = @document.file.size
                bytes
                = render @document.roles
            .tab-pane#edit
              %h1 Edit Document
              = render 'form'
            .tab-pane#destroy
              .well
                %h1 Are you sure?
                = button_to 'destroy this document', @document, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' if can? :destroy, @document
      .box
        .libraries{:style => (@document.stacks.any? ? nil : 'display:none;')}
          %h3 Libraries
          %ul.feed
            - if @document.stacks.any?
              - @document.stacks.each do |s|
                %li.feed_item
                  = link_to s.library.name, s.library if s.id
                  |
                  = link_to 'remove', s, :method => :delete, :confirm => 'Are you sure?' if can? :destroy, s
                  .clearfloat
        %br
        - if can? :create, Stack
          %h3 Add to a library
          - if Library.accessible_by(current_ability).any?
            - @stack = @document.stacks.build
            = form_for @stack, :remote => true do |f|
              = render 'shared/form_error' if @stack.errors.any?
              = f.hidden_field(:stackable_id)
              = f.hidden_field(:stackable_type)
              .field
                = f.collection_select(:library_id, Library.accessible_by(current_ability, :update).all, :id, :name)
              .actions
                = f.submit 'Add to library', :disable_with => 'adding...'
        - elsif can? :create, Library
          = link_to 'create a library', new_library_path
    .span2
      = document_icon_for @document, :size => :small
      .box
        %h3 Top Document Tags
        = cloud_of_tags
