= form_for(@permission) do |f|
  .row
    .twelvecol.last
      = render :partial => 'shared/form_error', :collection => @permission
  .row
    .threecol
      .field
        = f.label :user_id
        %br
        = f.collection_select(:user_id, User.all, :id, :name)
    .threecol
      .field
        = f.label :group_id
        %br
        = f.collection_select(:group_id, Group.all, :id, :name)
    .twocol
      .field
        = f.label :scope_id
        %br
        = f.collection_select(:scope_id, Scope.all, :id, :title)
    .twocol
      .field
        = f.label :target_id
        %br
        = f.collection_select(:target_id, Page.all, :id, :title)
    .twocol.last
      .field
        = f.label :privilege_id
        %br
        = f.collection_select(:privilege_id, Privilege.all, :id, :name)
  .row
    .twelvecol.last
      .field
        = f.label :comment
        %br
        = f.text_area :comment
      .actions
        = f.submit
