= form_for(@permission) do |f|
  = render :partial => 'shared/form_error', :collection => @permission
  = f.hidden_field(:permissable_type)
  = f.hidden_field(:permissable_id)
  .field
    = f.label :group_id
    = f.collection_select(:group_id, Group.all, :id, :name)
  .field
    = f.label :privilege_id, 'What can the group do?'
    = f.collection_select(:privilege_id, Privilege.all, :id, :name)
  .actions
    = f.submit
