.subnav
  %ul.nav.nav-pills
    %li= link_to "Case Studies", '#case_studies'
    %li= link_to "Content", '#content'
    %li= link_to "Files", '#files'
    %li= link_to "Libraries", '#libraries'
    %li= link_to "Photos", '#photos'
    %li= link_to "Staff", '#staff'
    %li= link_to "Users", '#users'
    %li= link_to "Volunteers", '#volunteers'
    %li= link_to "QR Codes", '#qrcodes'
    %li= link_to 'Shortlinks', '#shortlinks'
