.container
  .row
    .span-24.last
      .box.center.top_menu
        .span-4
          = link_to icon(:page), pages_path
          = link_to 'All Pages', pages_path
        .span-4
          = link_to icon(:search), case_studies_path
          = link_to 'Search Case Studies', case_studies_path
        .span-4
          = link_to icon(:photo), photos_path
          = link_to 'Browse Photos', photos_path
        .span-4
          = link_to icon(:page), pages_path
          = link_to 'Page Tree', pages_path
        .span-4.last
          = link_to icon(:page), pages_path
          = link_to 'Weekly food security update', pages_path
        .clearfloat
  .row
    .span-12
      .box
        %h1 Latest Page Updates
        %ul.feed
          = render @pages, :size => :icon
      .span-12
        .box
          %h1 Featured Users
          %ul
            = render @users
      .span-12.last
        .box
          %h1 Twitter
          = render 'shared/twitter'
    .span-12.last
      .box
        %h1 Top Tags
        = cloud_of_tags Photo
        = cloud_of_tags Document
        = cloud_of_tags Page
        = cloud_of_tags CaseStudy
        = cloud_of_tags User
      .box
        %h1 Case Studies
        %ul.feed
          = render @case_studies, :size => :icon
      .box
        %h1 Documents
        %ul.feed
          = render @documents, :size => :icon
      .box
        %h1 Latest Photos
        = render @photos
