.container
  .row
    .span-24.last
      %p Welcome to #{organization} #{country}! Check below for the latest updates.
  .row
    .span-6
      %h1 Pages
      = will_paginate @pages
      - @pages.each do |page|
        %h4= page.title
        %p= page.description
        %hr
      = will_paginate @pages
    .span-6
      %h1 Case Studies
    .span-6
      %h1 Documents
    .span-6.last
      - if @users
        %h1 Featured Users
        %ul
          = render @users
