.container
  .row
    .span-24.last
      .box
        = link_to 'All Pages', pages_path
        = link_to 'Search Case Studies', case_studies_path
        = link_to 'Browse Photos', photos_path
        = link_to 'Page Tree', pages_path
  .row
    .span-12
      .box
        %h1 Latest Page Updates
        %ul
          - @pages.each do |page|
            %li.short_page
              = avatar_for page, :size => :icon
              %h4
                = page.title
                %span #{time_ago_in_words(page.updated_at)} ago
              %p
                = truncate(page.description, :length => 100, :separator => ' ')
                = link_to ' read more', page
              .clearfloat
      .span-12
        .box
          %h1 Featured Users
          %ul
            = render @users
      .span-12.last
        .box
          %h1 Twitter
          = render 'shared/twitter'
    .span-12.last
      .box
        %h1 Case Studies
        %ul
          - @case_studies.each do |cs|
            %li.short_page
              = avatar_for cs, :size => :icon
              %h4
                = cs.title
                %span #{time_ago_in_words(cs.updated_at)} ago
              %p
                = truncate(cs.summary, :length => 100, :separator => ' ')
                = link_to ' read more', cs
              .clearfloat
      .box
        %h1 Documents
        %ul
          = render Document.unscoped.order('updated_at DESC').limit(20).all
      .box
        %h1 Latest Photos
        = render Photo.unscoped.order('updated_at DESC').limit(20).all
