.row
  .span2
    = image_tag 'pc_logo.png', :id => 'patch', :width => '100%'
    = image_tag 'pc_big.png', :id => 'pc_big', :width => '100%'
  .span1 &nbsp;
  .span9
    %h1= country.upcase
    = render 'shared/slider', :slides => @slides
    - count = 1
    .row
      - @spotlights.each do |spotlight|
        .span3{:class => "#{'last' if count.multiple_of?(3)}"}
          .spotlight
            .photo_container{:style => "background-image: url(#{spotlight[:photo]})"}
              .caption= spotlight[:title]
            .text= truncate(strip_tags(spotlight[:text]), :length => 300, :separator => ' ')
            %br
            = link_to 'read more', spotlight[:path]
            &rarr;
        - count += 1
-##corner_banner
-#  We're turning 50!
