.row
  .span2
    = image_tag 'pc_logo.png', :id => 'patch', :width => '100%', :style => 'margin: 20px 0;'
    = image_tag 'pc_big.png', :id => 'pc_big', :width => '100%'
  .span10
    %span{:style => 'font-size:200px;line-height:200px;display:block;'}= country.upcase
    .row
      .span10
        #myCarousel.carousel.slide
          .carousel-inner
            - count = 1
            - for slide in @slides do
              %div{:class => (count == 1 ? 'item active' : 'item') }
                = image_tag(slide[:photo])
                .carousel-caption
                  %h4= slide[:title]
                  %p
                    = slide[:text]
                    = link_to slide[:path] do
                      = slide[:link]
                      &rang;
              - count = count + 1
          %a.left.carousel-control{ :href => "#myCarousel", 'data-slide' => "prev" } &lsaquo;
          %a.right.carousel-control{ :href => "#myCarousel", 'data-slide' => "next" } &rsaquo;
    .row
      .span6
        %ul.thumbnails
          - @spotlights_small.each do |spotlight|
            %li.span3
              .thumbnail
                = image_tag spotlight[:photo]
                %h4= spotlight[:title]
                %p
                  = truncate(strip_tags(spotlight[:text]), :length => 300, :separator => ' ')
                  = link_to spotlight[:path] do
                    read more
                    &rarr;
      .span4
        %ul.thumbnails
          - @spotlights_large.each do |spotlight|
            %li.span4
              .thumbnail
                = image_tag spotlight[:photo]
                %h4= spotlight[:title]
                %p
                  = truncate(strip_tags(spotlight[:text]), :length => 300, :separator => ' ')
                  = link_to spotlight[:path] do
                    read more
                    &rarr;

