.row
  .span2
    = image_tag 'pc_logo.png', :id => 'patch', :width => '100%', :style => 'margin: 20px 0;'
    = image_tag 'pc_big.png', :id => 'pc_big', :width => '100%'
  .span10
    %span{:style => 'font-size:200px;line-height:200px;display:block;'}= country.upcase
  .span10
    = render 'shared/slider', :slides => @slides
    .carousel#testc.slide
      .carousel-inner
        .item.active
          .img{'src' => '/assets/pc_logo.png'}
          .carousel-caption
            %p test
    .row-fluid
      %ul.thumbnails 
        - @spotlights.each do |spotlight|
          %li.span3
            .thumbnail
              = image_tag spotlight[:photo]
              %h5= spotlight[:title]
              %p= truncate(strip_tags(spotlight[:text]), :length => 300, :separator => ' ')
              %br
              = link_to 'read more', spotlight[:path]
              &rarr;
-##corner_banner
-#  We're turning 50!
