.row
  .span12
    .hero-unit
      %h1 Welcome, #{current_user.name}!
      %h2 What would you like to do now?
    - if current_user.pc?
      .center
        = link_to 'Browse all pages', pages_path, :class => 'btn btn-info btn-moron'
        = link_to 'Upload a file', new_document_path, :class => 'btn btn-primary btn-moron'
        = link_to 'Create a case study', new_case_study_path, :class => 'btn btn-success btn-moron'
        = link_to 'Create a new page', new_page_path, :class => 'btn btn-warning btn-moron'
      %h1.center Or, read on for more information...
      %hr
.row
  .span3.offset1
    = render 'shared/menu'
  .span7
    - if current_user.role?(:moderator)
      .alert.alert-warning
        %a.close{'data-dismiss' => 'alert'} &times;
        %h3 You are a moderator!
        %p With great power comes great responsibilty. Always be mindful of your actions, and behave with honor.
    - if current_user.role?(:admin)
      .alert.alert-error
        %a.close{'data-dismiss' => 'alert'} &times;
        %h3 You are an administrator!
        %p With great power comes great responsibilty. Always be mindful of your actions, and behave with honor.
    - if current_user.role?(:volunteer)
      .alert.alert-success
        %a.close{'data-dismiss' => 'alert'} &times;
        %h3 You're a Volunteer!
        %p There's a lot you can do with this new site. You should read the #{link_to 'latest features', '#latest_features'} list below to stay up to date, or catch up on what you've missed if you're just joining. And of course, as always, you can always harrass Jack with questions and feature requests.
    - if current_user.role?(:staff)
      .alert.alert-success
        %a.close{'data-dismiss' => 'alert'} &times;
        %h3 You're a staff member!
        %p There's a lot you can do with this new site. You should read the #{link_to 'latest features', '#latest_features'} list below to stay up to date, or catch up on what you've missed if you're just joining. And of course, as always, you can always harrass Jack with questions and feature requests.
    .alert.alert-info
      %a.close{'data-dismiss' => 'alert'} &times;
      %h2 Where to go from here?
      %p For more detailed information regarding your status on this site, please take a look at your #{link_to 'profile', current_user}.
      %p For an overview of content and updates on the site, you can use your #{link_to 'dashboard', dashboard_path}.

    -# PC features
    -if current_user.pc?
      %h2#latest_features
        Latest Features
        %small Volunteers and Staff
      %ul
        %li Suggested tags! When you're uploading files, you'll see a list of commonly used tags on the right. By selecting from that pool, you'll help keep everything tightly linked.
        %li Include source files with #{link_to 'file uploads', new_document_path}. Have a PDF that might need to be edited later? Include the original MS Office doc, and posterity will thank you. Plus, you can always get it back later, so it's like an archive!
        %li Upload #{link_to 'files', new_document_path} and #{link_to 'photos', new_photo_path} right from your computer! Have something beautiful? Useful? Essential? Upload it straight to the website.
        %li #{link_to 'Create pages', new_page_path} right here! It's as easy as using Microsoft Word! Well, almost... But trust us, it's easy.
        %li Now #{link_to 'create case studies', new_case_study_path} on the website. Stop emailing them to Jack, having him send it back, etc. Just create it here, someone will review it, and you're good to go.

    -# non-PC features
    %h2 Latest Features
    %ul
      %li
        QR Codes! Look for the
        %i.icon-qrcode
        icon throughout the site. Clicking on it will take you to an image you can use to link to documents, pages, libraries, and even the site itself!
      %li There's a brand-new look! Enjoy the site's new appearance.
  .span2
