= form_for(@contribution) do |f|
  = render 'shared/form_error' if @contribution.errors.any?
  = render :partial => 'fields', :locals => { :f => f }
  .field
    = f.label :contributable_type, 'To what is this person contributing?'
    = f.collection_select(:contributable_type, Scope.all, :name, :title)
  .field
    = f.label :contributable_id, 'More specificall?'
    = f.collection_select(:contributable_id, Page.all, :id, :title)
  .actions
    = f.submit
