<%= form_for(@stage) do |f| %>
  <% if @stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% @stage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.date_select :arrival %>
  </div>
  <div class="field">
    <%= f.label :swear_in %><br />
    <%= f.date_select :swear_in %>
  </div>
  <div class="field">
    <%= f.label :cos %><br />
    <%= f.date_select :cos %>
  </div>
  <div class="field">
    <%= f.label :pc_id %><br />
    <%= f.text_field :pc_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
