<h1>Listing stages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Arrival</th>
    <th>Swear in</th>
    <th>Cos</th>
    <th>Pc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stages.each do |stage| %>
  <tr>
    <td><%= stage.name %></td>
    <td><%= stage.arrival %></td>
    <td><%= stage.swear_in %></td>
    <td><%= stage.cos %></td>
    <td><%= stage.pc_id %></td>
    <td><%= link_to 'Show', stage %></td>
    <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
    <td><%= link_to 'Destroy', stage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage', new_stage_path %>
