= semantic_form_for @ticket_update do |f|
  = f.inputs do
      = f.input :ticket_id
      = f.input :ticket_code_id
      = f.input :comment
      = f.input :user_id
  
  = f.buttons do
    = f.commit_button
