.field
  = f.label :photo
  = f.file_field :photo
.field
  = f.label :title
  = f.text_field :title
.field
  = f.label :description
  = f.text_field :description
.field
  = f.label :attribution
  = f.text_field :attribution
