.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      %h1
        Photo Gallery
        %span= pluralize(Photo.count, 'photo')
      = render :partial => @photos, :locals => { :size => :icon }
      .center= will_paginate
      .box
        = render 'shared/search'
    .span-4.last
      = render 'shared/right_user_menu'