.container
  .row
    .span8.offset2
      %h1
        = (@photo.title) ? @photo.title : @photo.photo_file_name
      %p= @photo.description
    .span2
      - if can? :update, @photo
        .btn-group
          = link_to 'Edit Photo', edit_photo_path(@photo), :class => 'btn'
          - if can? :destroy, @photo
            %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Delete Photo', @photo, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @photo
  .row
    .span2
      %ul.pager
        %li.previous= link_to '< Previous', @prev if @prev
      .libraries{:style => (@photo.stacks.any? ? nil : 'display:none;')}
        %h3 Libraries
        %ul
        - if @photo.stacks.any?
          - @photo.stacks.each do |s|
            %li
              = link_to s.library.name, s.library if s.id
              = link_to 'remove', stack_path(s), :confirm => 'Are you sure?', :method => :delete, :remote => true, :disable_with => 'please wait...', :class => 'btn btn-mini btn-danger' if can? :destroy, s
      - if can? :create, Stack
        %h3 Add to a library
        - if current_user.libraries.any?
          - @stack = @photo.stacks.build
          = form_for @stack, :remote => true do |f|
            = render 'shared/form_error' if @stack.errors.any?
            = f.hidden_field(:stackable_id)
            = f.hidden_field(:stackable_type)
            .field
              = f.collection_select(:library_id, current_user.libraries.all, :id, :name)
            .actions
              = f.submit 'Add to library', :disable_with => 'adding...'
        - elsif can? :create, Library
          = link_to 'create a library', new_library_path
    .span8
      = image_tag @photo.photo.url(:large)
    .span2
      %ul.pager
        %li.next= link_to 'Next >', @next if @next
      .box.tags
        %h3 Tags
        = render 'shared/tags', :tags => @photo.tag_list
  .row
    .span4.offset2
      %p
        Credit:
        = (@photo.attribution) ? @photo.attribution : 'Peace Corps Senegal'
    .span4
      Uploaded by
      = link_to @photo.user.name, @photo.user
      |
      = link_to 'View full size', @photo.photo.url, :target => '_blank'
  .row
    .span8.offset2= render 'shared/search'
    .span2
