.row
  .span12
    = render 'menu', :current_user => current_user
.row
  .span8.offset3
    %h1
      = (@photo.title) ? @photo.title : @photo.photo_file_name
      %small
        uploaded by
        = link_to @photo.user.name, @photo.user
    %p
      = @photo.description
      = render 'shared/tags', :tags => @photo.tag_list
.row
  .span3
    %ul.nav.nav-list
      %li.nav-header Libraries
      - if @photo.stacks.any?
        - @photo.stacks.each do |s|
          %li
            = link_to s.library.name, s.library if s.id
      - else
        %li= link_to 'No libraries', libraries_path
      %hr
      %li.nav-header Other Libraries
      - for library in Library.limit(15) do
        %li= link_to "#{library.name} (#{library.stacks.count})", library
  .span8
    = image_tag @photo.photo.url(:large)
    .row
      .span2
        %ul.pager
          %li.previous= link_to '< Previous', @prev if @prev
      .span4
        %p
          = (@photo.attribution) ? @photo.attribution : 'Peace Corps Senegal'
          |
          = link_to 'View full size', @photo.photo.url, :target => '_blank'
      .span2
        %ul.pager
          %li.next= link_to 'Next >', @next if @next
  .span1
.row
  .span4.offset2
  = render 'shared/modal_standard',:id => "new_stack_form_modal", :title => 'Add photo to library', :body => render('photos/stacks_form')
  = render 'shared/modal_standard',:id => "edit_photo_form_modal", :title => 'Edit photo attributes', :body => render('photos/form')

