%li.feed_item
  = avatar_for case_study, :size => size ||= :thumb
  %h4
    = case_study.title
    %span #{time_ago_in_words(case_study.updated_at)} ago
  %p= truncate(strip_tags(case_study.summary), :length => 100, :separator => ' ')
  %p
    = link_to 'read case study', case_study
    &rang;
  .tags.right= render 'shared/tags', :tags => case_study.tag_list
