= semantic_form_for(@case_study) do |f|
  = f.semantic_errors
  %h3 About the case study
  = f.inputs :title, :photo, :language, :tag_list
  - if can? :manage, Page
    = f.input :country, :as => :select, :collection => current_user.countries, :include_blank => false
  - else
    = f.input :country, :as => :select, :collection => current_user.countries, :include_blank => false
  %h3 Body of study
  = f.inputs :summary, :context, :approach, :results, :challenges, :lessons_learned, :next_steps
  = f.buttons
