= bootstrap_form_for @case_study do |f|
  = f.text_field :title
  = f.collection_select :language_id, Language.all, :id, :name, :include_blank => false
  = f.select :country, current_user.countries, :include_blank => false
  = f.collection_select :photo_id, current_user.photos.all, :id, :title, :include_blank => true
  = f.text_field :tag_list
  = f.text_field :setting_list if can? :moderate, @case_study
  = f.actions
