.subnav
  %ul.nav.nav-pills
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        View by
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Alphabetical', case_studies_path
        %li= link_to 'Recently Added', added_case_studies_path
        %li= link_to 'Recently Updated', updated_case_studies_path
        %li= link_to 'Table', table_case_studies_path
    %li= link_to 'Create Case Study', new_case_study_path if can? :create, CaseStudy
    - if user_signed_in? && @case_study
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
          Actions
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Add to library', '#new_stack_form_modal', 'data-toggle' => 'modal' if can? :create, Stack
          %li= link_to 'Properties', '#edit_case_study_form_modal', 'data-toggle' => 'modal' if can? :edit, @case_study
          %li= link_to 'Edit', '/editor' + request.path, :id => 'edit_link', :data => { :save_url => mercury_update_case_study_path(@case_study) }, :rel => 'popover-left', :title => 'Edit using Mercury Editor', 'data-content' => "Mercury editor is a very slick in-page editor. It will allow you to see the results of your changes as you make them, like a word processor.<h3>Warning!</h3>Mercury Editor <strong>WILL NOT</strong> work with Internet Explorer, because IE is in no way standards compliant. If you want to edit pages, we <strong>strongly</strong> suggest you get a <em>real</em> browser such as Firefox or Chrome." if can? :edit, @case_study
          %li= link_to 'Delete', '#destroy_case_study_form_modal', 'data-toggle' => 'modal' if can? :destroy, @case_study
    = render 'shared/search' unless params[:action] == 'table'
