.container
  .row
    .span-5
      = render 'shared/menu'
    .span-15
      .box
        %div
          %h1= @case_study.title
          .tags.right= render 'shared/tags', :tags => @case_study.tag_list
          = markdown @case_study.summary
          - if @case_study.context
            %h2 Context
            = markdown @case_study.context
          - if @case_study.approach
            %h2 Approach
            = markdown @case_study.approach
          - if @case_study.results
            %h2 Results
            = markdown @case_study.results
          - if @case_study.challenges
            %h2 Challenges
            = markdown @case_study.challenges
          - if @case_study.lessons_learned
            %h2 Lessons Learned
            = markdown @case_study.lessons_learned
          - if @case_study.next_steps
            %h2 Next Steps
            = markdown @case_study.next_steps
    .span-4.last
      = avatar_for @case_study, :size => :small
      .box
        %h2 Case Studies
        %ul
          - @case_studies.each do |c|
            %li= link_to c.title, c
      .box
        %h2 Popular Tags
        = cloud_of_tags
      .box
        %h2 Suggested Reading
        %ul
          - @pages.each do |p|
            %li= link_to p.title, p
      .box
        %h2 Authors
        %ul
          = render @case_study.contributors
      = render 'shared/right_user_menu'