.row
  .span3
    = render 'shared/menu'
  .span7
    = render 'menu'
    %h1
      = flag_icon @case_study.country.downcase
      = @case_study.title
      %small
        last updated
        = time_ago_in_words(@case_study.updated_at)
        ago
    = render 'shared/tags', :tags => @case_study.tag_list
    - if can? :update, @case_study
      .mercury-region#cs_summary{'data-type' => 'editable'}
        = markdown @case_study.summary
      %h2 Context
      .mercury-region#cs_context{'data-type' => 'editable'}
        - if @case_study.context
          = markdown @case_study.context
      %h2 Approach
      .mercury-region#cs_approach{'data-type' => 'editable'}
        - if @case_study.approach
          = markdown @case_study.approach
      %h2 Results
      .mercury-region#cs_results{'data-type' => 'editable'}
        - if @case_study.results
          = markdown @case_study.results
      %h2 Challenges
      .mercury-region#cs_challenges{'data-type' => 'editable'}
        - if @case_study.challenges
          = markdown @case_study.challenges
      %h2 Lessons Learned
      .mercury-region#cs_lessons{'data-type' => 'editable'}
        - if @case_study.lessons_learned
          = markdown @case_study.lessons_learned
      %h2 Next Steps
      .mercury-region#cs_steps{'data-type' => 'editable'}
        - if @case_study.next_steps
          = markdown @case_study.next_steps
    - else
      = markdown @case_study.summary
      - if @case_study.context
        %h2 Context
        = markdown @case_study.context
      - if @case_study.approach
        %h2 Approach
        = markdown @case_study.approach
      - if @case_study.results
        %h2 Results
        = markdown @case_study.results
      - if @case_study.challenges
        %h2 Challenges
        = markdown @case_study.challenges
      - if @case_study.lessons_learned
        %h2 Lessons Learned
        = markdown @case_study.lessons_learned
      - if @case_study.next_steps
        %h2 Next Steps
        = markdown @case_study.next_steps
    :erb
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pcsenegal'; // required: replace example with your forum shortname
        // turn on dev mode for dev/test env
        var disqus_developer = <%= Rails.env.production? ? 0 : 1 %>;
        // identify current page
        var disqus_identifier = "case_study-<%= @case_study.id %>";
        // identify current url
        var disqus_url = "<%= case_study_url(@case_study) %>";
        // set the thread title
        var disqus_title = "<%= @case_study.canonical_title %>";
        // set the category to pages
        var disqus_category_id = '1483652';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  .span2
    = avatar_for @case_study, :size => :small
    = render 'shared/social'
    %ul.nav.nav-list
      -# if @case_studies.any?
      %li.nav-header Related Case Studies
      - @case_studies.each do |c|
        %li= link_to c.title, c
      - if @pages.any?
        %li.nav-header Related Pages
        - @pages.each do |item|
          %li= link_to item.title, item
      - if @case_study.contributions.count > 0
        %li.nav-header Authors
        - @case_study.contributions.each do |c|
          - unless c.new_record?
            %li
              = link_to c.user.name, c.user
              - if can? :destroy, c
                %small= button_to 'remove', c, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini'
      - if @case_study.stacks.any?
        %li.nav-header Libraries
        - @case_study.stacks.each do |s|
          %li
            = link_to s.library.name, s.library
            = button_to 'remove', s, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' if can? :destroy, s
    %hr
    %h3 Popular Tags
    = cloud_of_tags CaseStudy
- if can? :edit, @case_study
  = render 'shared/modal_standard', :id => 'edit_case_study_form_modal', :title => 'Edit properties', :body => render('case_studies/form')
- if can? :destroy, @case_study
  = render 'shared/modal_standard', :id => 'destroy_case_study_form_modal', :title => 'Are you sure?', :body => button_to('Delete case study', @case_study, :method => :delete, :class => 'btn btn-danger')
- if can? :create, Stack
  = render 'shared/modal_standard', :id => 'new_stack_form_modal', :title => 'Add to library', :body => render('case_studies/stacks_form')
