.row
  .span3
    = render 'shared/menu'
  .span7
    = render 'menu'
    %h1
      = flag_icon @case_study.country.downcase
      = @case_study.title
      %small
        last updated
        = time_ago_in_words(@case_study.updated_at)
        ago
    = render 'shared/tags', :tags => @case_study.tag_list
    %hr
    - if can? :update, @case_study
      .tabbable.tabs-right
        %ul.nav.nav-tabs
          %li.active= link_to 'view', '#view', 'data-toggle' => 'tab'
          %li= link_to 'edit', '/editor' + request.path, :id => 'edit_link', :data => { :save_url => mercury_update_case_study_path(@case_study) }, :rel => 'popover-top', :title => 'Edit using Mercury Editor', 'data-content' => "Mercury editor is a very slick in-page editor. It will allow you to see the results of your changes as you make them, like a word processor.<h3>Warning!</h3>Mercury Editor <strong>WILL NOT</strong> work with Internet Explorer, because IE is in no way standards compliant. If you want to edit using Mercury, we strongly suggest you get a <em>real</em> browser such as Firefox or Chrome."
          %li= link_to 'properties', '#edit', 'data-toggle' => 'tab'
          %li= link_to 'destroy', '#destroy', 'data-toggle' => 'tab'
        .tab-content
          .tab-pane#view.active
            .mercury-region#cs_summary{'data-type' => 'editable'}
              = markdown @case_study.summary
            %h2 Context
            .mercury-region#cs_context{'data-type' => 'editable'}
              - if @case_study.context
                = markdown @case_study.context
            %h2 Approach
            .mercury-region#cs_approach{'data-type' => 'editable'}
              - if @case_study.approach
                = markdown @case_study.approach
            %h2 Results
            .mercury-region#cs_results{'data-type' => 'editable'}
              - if @case_study.results
                = markdown @case_study.results
            %h2 Challenges
            .mercury-region#cs_challenges{'data-type' => 'editable'}
              - if @case_study.challenges
                = markdown @case_study.challenges
            %h2 Lessons Learned
            .mercury-region#cs_lessons{'data-type' => 'editable'}
              - if @case_study.lessons_learned
                = markdown @case_study.lessons_learned
            %h2 Next Steps
            .mercury-region#cs_steps{'data-type' => 'editable'}
              - if @case_study.next_steps
                = markdown @case_study.next_steps
          .tab-pane#edit
            = render 'form'
          .tab-pane#destroy
            .well
              %h1 You sure?
              = button_to 'Destroy this case study', @case_study, method: :delete, confirm: 'are you sure?', :class => 'btn btn-danger' if can? :destroy, @case_study
    - else
      = markdown @case_study.summary
      - if @case_study.context
        %h2 Context
        = markdown @case_study.context
      - if @case_study.approach
        %h2 Approach
        = markdown @case_study.approach
      - if @case_study.results
        %h2 Results
        = markdown @case_study.results
      - if @case_study.challenges
        %h2 Challenges
        = markdown @case_study.challenges
      - if @case_study.lessons_learned
        %h2 Lessons Learned
        = markdown @case_study.lessons_learned
      - if @case_study.next_steps
        %h2 Next Steps
        = markdown @case_study.next_steps
  .span2
    = avatar_for @case_study, :size => :small
    = render 'shared/social'
    %ul.nav.nav-list
      -# if @case_studies.any?
      %li.nav-header Related Case Studies
      - @case_studies.each do |c|
        %li= link_to c.title, c
      - if @pages.any?
        %li.nav-header Related Pages
        - @pages.each do |item|
          %li= link_to item.title, item
      - if @case_study.contributions.count > 0
        %li.nav-header Authors
        - @case_study.contributions.each do |c|
          - unless c.new_record?
            %li
              = link_to c.user.name, c.user
              - if can? :destroy, c
                %small= button_to 'remove', c, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-mini'
    
    %hr
    %h3 Popular Tags
    = cloud_of_tags CaseStudy
