<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="well center">
      <h3>Rather use Facebook?</h3>
      <br/>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'btn btn-large btn-primary', :rel => 'popover-left', :title => 'Sign in with Facebook!', 'data-content' => "Can't remember passwords? Love Facebook? Then this is for you! Clicking this link will allow Facebook to handle your authentication hassle-free!<h3>Warning</h3> By signing in with Facebook, you lose the ability to sign in with your email and password, unless you request that information from us." %><br />
    </div>
  <% end -%>
<% end -%>

<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="well center">
    <h3>Haven't registered yet?</h3>
    <br/>
    <%= link_to "Sign me up now!", new_registration_path(resource_name), :class => 'btn btn-large btn-primary center', :rel => 'popover-left', :title => "It's Easy!", 'data-content' => "All you need is a name and email address. We request no personal data, and will not share your contact information with anyone without your prior consent." %>
  </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'tooltip-left', :title => 'Click here to send a password reset email.' %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => 'tooltip-left', :title => 'If you think something went wrong with your confirmation, we can help.' %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

