.row
  .span3
    = render 'shared/menu'
  .span7
    %h1 #{@region.name}, #{@region.short}, #{@region.country}
    %p= @region.description
    %hr
    - if can? :read, Volunteer
      %h2 Volunteers
      %ul
        - for site in @region.sites do
          - for volunteer in site.volunteers do
            %li= volunteer.user.name
  .span2
