= form_for(@site) do |f|
  = render 'shared/form_error', :error => @site if @site.errors.any?

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :region_id
    = f.collection_select(:region_id, Region.all, :id, :name)
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit
