.field
  = f.label :photo_id
  = f.collection_select(:photo_id, @moment.photos, :id, :title, :include_blank => true)
.field
  = f.label :datapoint
  = f.date_select :datapoint, :start_year => 1963, :end_year => Time.now.year
.field
  = f.label :title
  = f.text_field :title
.field
  = f.label :summary
  = f.text_area :summary
.field
  = f.label :content
  = f.text_area :content
= render 'shared/tag_field', :f => f
