= semantic_form_for(@moment) do |f|
  = f.semantic_errors
  = f.inputs do
    - if can? :manage, @moment
      = f.input :user
      = f.input :country
    - else
      = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
      = f.input :country, :as => :hidden, :input_html => { :value => current_user.country }
    = f.input :photo
    = f.input :title
    = f.input :summary
    = f.input :content, :input_html => {:class => 'richtext', :value => (@moment.content ? markdown(@moment.content) : nil)}
  = f.semantic_fields_for :photos do |p|
    = p.input :user_id, :input_html => { :value => current_user.id }
    = p.inputs :photo, :title, :description, :attribution, :tag_list
  .actions
    = f.submit
