.alert
  %p This form is a work in progress. Stay tuned for improvements.
= form_for(@moment, :html => { :multipart => true, :class => 'form-horizontal' }) do |f|
  = render 'shared/form_error', :error => f.object
  .form-actions
    = f.submit 'Save the event!', :class => 'btn btn-primary'
  = render 'fields', :f => f
  .form-actions
    = f.submit 'Save the event!', :class => 'btn btn-primary'
