= form_for(@moment) do |f|
  = render :partial => 'shared/form_error', :locals => { :a => @moment } if @moment.errors.any?
  - if current_user.admin?
    .field
      = f.label :user_id
      = f.collection_select(:user_id, User.all, :id, :name)
    .field
      = f.label :country
      = f.country_select(:country, 'SN')
  - else
    = f.hidden_field(:user_id, :value => current_user.id)
    = f.hidden_field(:country, :value => current_user.country)
  = render :partial => 'fields', :locals => { :f => f }
  = f.fields_for :photos do |p|
    = p.hidden_field(:user_id, :value => current_user.id)
    = render :partial => 'photos/fields', :locals => { :f => p }
  .actions
    = f.submit
