.subnav
  %ul.nav.nav-pills
    %li= link_to 'Interactive Timeline', timeline_path
    %li= link_to 'All Events', moments_path(:all => true)
    %li= link_to 'Create an event!', new_moment_path if can? :create, Moment
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
        Decade
        = "(#{@decade})" if @decade
        %b.caret
      %ul.dropdown-menu
        - [1960,1970,1980,1990,2000,2010].each do |d|
          %li= decade_link(d)
    - if @decade
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
          Year
          = "(#{@year})" if @year
          %b.caret
        %ul.dropdown-menu
          - (0..9).each do |y|
            %li= year_link(truncate(@decade.to_s, :length => 2).to_i * 10 + y)
    - if can? :edit, @moment
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
          Actions
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Edit', edit_moment_path(@moment)
          - if can? :destroy, @moment
            %li= link_to 'Destroy', ''
    = form_tag(moments_path, :method => :get, :class => 'navbar-form pull-right') do
      = text_field_tag 'start', nil, :maxlength => 4, :class => 'span1'
      to
      = text_field_tag 'stop', nil, :maxlength => 4, :class => 'span1'
      = submit_tag 'View span', :class => 'btn'
