-# need to input decades, years
.row#decades
  .threecol
    = button_to 'All Events', all_moments_path, :method => :get
    = button_to 'Span of Years', span_moments_path, :method => :post
    = text_field 'span', 'start'
    to
    = text_field 'span', 'stop'
  .ninecol.last
    - if decades
      - decades.each do |d|
        = decade_button(d)
- if params[:id]
  .row#years
    .threecol
      = button_to 'Timeline Home', moments_path, :method => :get
    .ninecol.last
      - years.each do |y|
        = year_button(params[:id].to_i + y)
