.feed_item
  %p
    .floatleft= moment.photos.any? ? image_tag(moment.photos.first.photo.url(:small)) : avatar_for_user(moment.user)
    %h3
      = moment.title
      %small= link_to 'edit', edit_moment_path(moment) if can? :update, moment
    %h4
      = moment.datapoint.strftime('%B')
      = moment.datapoint.strftime('%Y')
    = moment.summary
    = link_to moment.user.name, moment.user
    %br
    = moment.user.country
    %br
    = link_to moment.datapoint.year, moments_path(:year => moment.datapoint.year)
    \-
    = link_to moment.datapoint.year, moments_path(:year => moment.datapoint.year)
    .clearfloat
  %hr
