.row.moment
  .twocol
    %h4= moment.datapoint.strftime('%B')
    %h4= moment.datapoint.strftime('%Y')
  .twocol
    = avatar_for_user(moment.user, :size => :small)
    %p
      = link_to moment.user.name, moment.user
      %br
      = link_to moment.user.country.name, moment.user.country
      %br
      = link_to moment.user.volunteers.first.sector.name, moment.user.volunteers.first.sector if moment.user.volunteers.any?
      %br
      = link_to moment.datapoint.year, year_moment_path(moment.datapoint.year)
      \-
      = link_to moment.datapoint.year, year_moment_path(moment.datapoint.year)
  .sixcol
    %h1= moment.title
    %p
      = image_tag(moment.user.photos.first.photo.url(:small)) unless moment.user.photos.empty?
      = moment.summary
    %hr
    - if @max && moment.content.length > @max
      = markdown(truncate(moment.content, :length => @max, :separator => "\n"))
      %p= link_to 'View full event &rarr;', moment
    - else
      = markdown(moment.content)
  .twocol.last
    = link_to pluralize(moment.photos.count, 'photo'), moment if moment.photos.any?
    = render moment.photos if moment.photos
