.row{:class => align}
  .bumper &nbsp;
  .date
    %span= moment.datapoint.year
  .timeline_moment
    .box
      .avatar
        = avatar_for moment, :size => :small
        = link_to 'View Event', moment
      .info
        %h2= moment.title
        %p
          = moment.summary
          %br
          = moment.user.name
          = flag_icon(moment.country)
