{
  "timeline": {
    "headline":"Peace Corps Senegal: 50 Years in review",
    "type":"default",
    "startDate":"1963",
    "text":"<p>We're pleased and proud to celebrate fifty years of service in Sénégal. We'd like to take this opportunity to look back on the past, and share stories and photos from our Volunteers past and present. We've got <%= pluralize(Moment.count, 'timeline event') %> and counting!</p><p>If you've got a story, photo or video you'd like to share, you can do so by logging in or signing up on our website <a href=\"/login\">here</a>.",
    "asset": {
      "media":"<%= Photo.any? ? Photo.first.photo.url(:large) : 'You need to upload a photo.' %>",
      "credit":"<%= Photo.first.attribution if Photo.any? %>",
      "caption":"<%= Photo.first.description if Photo.any? %>"
    },
    "date": [
    <% @moments.each do |moment| %>
    {
      "startDate": "<%= moment.startdate.strftime("%Y,%m,%d") %>",
      "headline": <%= raw(ActiveSupport::JSON.encode(moment.headline)) %>,
      "text": <%= raw(ActiveSupport::JSON.encode(moment.text + '<p>' + link_to('read the rest of the story', moment, :target => '_blank') + '<br/>' + (can?(:update, moment) ? link_to('edit', edit_moment_path(moment), :target => '_blank') : nil) + '</p>')) %>,
      "asset": {
        "media": <%= raw(ActiveSupport::JSON.encode(truncate(moment.media, :length => 500, :separator => ' '))) %>,
        "credit": <%= raw(ActiveSupport::JSON.encode(moment.credit)) %>,
        "caption": <%= raw(ActiveSupport::JSON.encode(moment.caption)) %>
      }
    },
    <% end %>
    {
      "startDate": "<%= Time.now.strftime("%Y,%m,%d") %>",
      "headline": "And here we are today!",
      "text": "Thanks for joining us on this look back. We hope you enjoyed it.",
      "asset": {
      "media": "<%= Photo.last.photo.url(:large) if Photo.any? %>",
        "credit": "<%= Photo.last.attribution if Photo.any? %>",
        "caption": "<%= Photo.last.description if Photo.any? %>"
      }
    }
    ]
  }
}

