<% @timeline_title = SiteConfig.find_by_name('timeline_title').setting %>
{
  "timeline": {
    "headline": "<%= @timeline_title %>",
    "type": "default",
    "text": <%= raw(ActiveSupport::JSON.encode('<p>' + truncate(SiteConfig.find_by_name('timeline_intro').setting, :length => 500, :separator => ' ') + '</p>')) %>,
    "asset": {
      "media": "<%= SiteConfig.find_by_name('timeline_intro_photo').photo.url(:large) %>",
      "credit": null,
      "caption": null
    },
    "date": [
    <% @moments.each do |moment| %>
    {
      "startDate": "<%= moment.startdate.to_time.strftime("%Y,%m,%d") %>",
      "headline": <%= raw(ActiveSupport::JSON.encode(moment.headline)) %>,
      "text": <%= raw(ActiveSupport::JSON.encode(truncate(moment.text, :length => 200, :separator => ' ') + '<p>' + link_to('read the rest of the story', moment, :target => '_blank') + '<br/>' + ((user_signed_in? && can?(:update, moment)) ? link_to('edit', edit_moment_path(moment), :target => '_blank') : '&nbsp;') + '</p>')) %>,
      "asset": {
        "media": <%= raw(ActiveSupport::JSON.encode(truncate(moment.select_media, :length => 600, :separator => ' '))) %>,
        "credit": <%= raw(ActiveSupport::JSON.encode(moment.credit)) %>,
        "caption": <%= raw(ActiveSupport::JSON.encode(moment.caption)) %>
      }
    },
    <% end %>
    {
      "startDate": "<%= Time.now.strftime("%Y,%m,%d") %>",
      "headline": "<%= @timeline_title %>",
      "text": <%= raw(ActiveSupport::JSON.encode('<p>' + truncate(SiteConfig.find_by_name('timeline_outro').setting, :length => 500, :separator => ' ') + '</p>')) %>,
      "asset": {
        "media":"<%= SiteConfig.find_by_name('timeline_outro_photo').photo.url(:large) %>",
        "credit": null,
        "caption": null
      }
    }
    ]
  }
}

