.container
  = render :partial => 'menu', :locals => { :decades => [1960,1970,1980,1990,2000,2010], :years => nil }
  .row.box
    .threecol
    .ninecol.last
      %h1
        = @moment.title
        |
        = @moment.datapoint.to_date.year
    .threecol
      = image_tag @moment.photo.photo.url(:small), :width => '100%' unless @moment.photo.nil?
      = link_to @moment.user.name, @moment.user
      %br
      = link_to @moment.user.volunteers.first.site.region.country.name, @moment.user.volunteers.first.site.region.country
      |
      = link_to @moment.user.volunteers.first.site.name, @moment.user.volunteers.first.site
    .sixcol
      = markdown(@moment.content)
    .threecol.last
      = @moment.summary
