= render :partial => 'menu', :locals => { :decades => [1960,1970,1980,1990,2000,2010], :years => nil }
.row
  .span3
    = render 'shared/menu'
  .span7
    %h1= @moment.headline
    = markdown(@moment.media) if @moment.media
    %hr
    = render @moment.user
  .span2
    &larr;
    = link_to "back to #{@moment.startdate.strftime('%Y')}", moments_path(:year => @moment.startdate.year)
    %h1= @moment.startdate.strftime('%B %Y')
    - if @moment.photo
      = link_to image_tag(@moment.photo.photo.url(:medium)), @moment.user, :class => 'avatar'
    - else
      = avatar_for_user(@moment.user, :size => :small)
    %p
      = link_to @moment.user.volunteers.first.stage.swear_in.year, moments_path(:year => @moment.user.volunteers.first.stage.swear_in.year) if @moment.user.volunteers.any? && @moment.user.volunteers.first.stage && @moment.user.volunteers.first.stage.swear_in
      \-
      = link_to @moment.user.volunteers.first.stage.cos.year, moments_path(:year => @moment.user.volunteers.first.stage.cos.year) if @moment.user.volunteers.any? && @moment.user.volunteers.first.stage && @moment.user.volunteers.first.stage.cos
    .well
      %p= @moment.text
    - if @moment.photos.any?
      .box
        %h4 Photos
        = render @moment.photos
