.container
  = render :partial => 'menu', :locals => { :decades => [1960,1970,1980,1990,2000,2010], :years => nil }
  .row
    .span-24.last
      &larr;
      = link_to "back to #{@moment.datapoint.strftime('%Y')}", year_moment_path(@moment.datapoint.year)
  .row.moment
    .span-18
      .box.longform
        .span-8
          %h1= @moment.datapoint.strftime('%B %Y')
          - if @moment.photo
            = link_to image_tag(@moment.photo.photo.url(:medium)), @moment.user, :class => 'avatar'
          - else
            = avatar_for_user(@moment.user, :size => :small)
          %ul.feed
            = render @moment.user
          %p
            = link_to @moment.user.volunteers.first.stage.swear_in.year, year_moment_path(@moment.user.volunteers.first.stage.swear_in.year) if @moment.user.volunteers.first.stage.swear_in
            \-
            = link_to @moment.user.volunteers.first.stage.cos.year, year_moment_path(@moment.user.volunteers.first.stage.cos.year) if @moment.user.volunteers.first.stage.cos
            = button_to 'Edit', edit_moment_path(@moment), :method => :get if can? :update, @moment
        .span-16.last
          %h1= @moment.title
          = markdown(@moment.content)
        .clearfloat
    .span-6.last
      .box
        %p= @moment.summary
      - if @moment.photos.any?
        .box
          %h4 Photos
          = render @moment.photos
