.container
  = render :partial => 'menu', :locals => { :decades => [1960,1970,1980,1990,2000,2010], :years => nil }
  .row
    .span-6
    .span-18.last
      = link_to "back to #{@moment.datapoint.strftime('%Y')}", year_moment_path(@moment.datapoint.year)
  .row.moment
    .span-6
      %h4= @moment.datapoint.strftime('%B %Y')
      = avatar_for_user(@moment.user, :size => :small)
      %p
        = link_to @moment.user.name, @moment.user
        %br
        = link_to @moment.user.country.name, @moment.user.country
        %br
        = link_to @moment.user.volunteers.first.sector.name, @moment.user.volunteers.first.sector if @moment.user.volunteers.any?
        %br
        = link_to @moment.datapoint.year, year_moment_path(@moment.datapoint.year)
        \-
        = link_to @moment.datapoint.year, year_moment_path(@moment.datapoint.year)
        = button_to 'Edit', edit_moment_path(@moment), :method => :get if signed_in? && current_user.admin? || current_user.moderator? || current_user?(@moment.user)
    .span-12
      %h1= @moment.title
      = markdown(@moment.content)
    .span-6.last
      %p= @moment.summary
      - if @moment.photos.any?
        %h4 Photos
        = render @moment.photos
