.row
  .span12
    = render :partial => 'menu' 
.row
  .span3
    = render 'shared/menu'
  .span9
    - @moments.each do |moment|
      .row
        .span1
          = render moment.photos
          %br
          &nbsp;
        .span5
          %h1
            = best_in_place_if can?(:update, moment), moment, :headline
            %br
            %small
              contributed by
              = moment.credit.present? ? moment.credit : moment.user.name
          %p= best_in_place_if can?(:update, moment), moment, :text
          = markdown(moment.media) if moment.media
          %p.right
            = link_to 'Edit', edit_moment_path(moment), :class => 'btn btn-warning' if can? :update, moment
            = link_to raw('View full event &rarr;'), moment
        .span3
          .hero-unit.hero-unit-info
            %h1
              = moment.startdate.strftime('%b %Y')
              %small= timeago(moment.startdate.to_time)

