- unless params[:controller] == 'statics' || params[:controller] == 'users'
  #context_menu_bar
    %h4 #{params[:controller].parameterize.singularize.capitalize} Actions
    %ul
      %li= link_to 'index', :controller => params[:controller], :action => :index
      %li= link_to 'new', :controller => params[:controller], :action => :new if can? :create, params[:controller].singularize.capitalize.constantize
      - if params[:id] && params[:action] == 'show'
        - item = params[:controller].camelize.singularize.constantize.find(params[:id])
        %li= link_to 'edit', :controller => params[:controller], :action => :edit, :id => params[:id] if can? :update, item
        %li= link_to 'destroy', params[:controller].camelize.singularize.constantize.find(params[:id]), confirm: 'Are you sure?', method: :delete if can? :destroy, item
    .clearfloat
