%footer
  .container
    .row
      .fourcol
      .twocol
        %ul
          %li Pages
          %li Recently added
          %li Recently updated
          %li Most popular
          %li Site map
      .twocol
        %ul
          %li Blogs
          %li= link_to 'View by region', ''
          %li= link_to 'View by sector', ''
          %li= link_to 'Most popular', ''
          %li= link_to 'Recently updated', ''
      .twocol
        %ul
          %li Modules
          %li= link_to 'View by sector', ''
          %li= link_to 'View by curriculum', ''
          %li= link_to 'Recently added', ''
          %li= link_to 'Recently updated', ''
          %li= link_to 'Search', ''
      .twocol.last
        %ul
          %li Profiles &amp; Photos
          %li= link_to 'Search', ''
          %li= link_to 'All photos', ''
          %li= link_to 'Photo Albums', ''
          %li= link_to 'Browse profiles', users_path
    .clearfloat
  .container
    .row
      .twelvecol.last
        %ul
          %li= link_to 'Disclaimer', disclaimer_path
          %li= link_to 'Privacy Policy', privacy_policy_path
          %li= link_to 'Support', support_path
          %li= link_to 'Security', security_path
          %li= link_to 'About us', about_us_path
          %li= link_to 'Log out', logout_path
        #legal
          Content &copy; 2009-2012 #{organization} #{country}. Design &copy; 2011-2012 John F. Brown. Icons courtesy of Neurovit.
        .clearfloat
