%a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%a.brand{:href => '/splash'}
  %span#org= SiteConfig.find_by_name('site_title').setting
  %span#divider= '|'
  = country
  %sub beta
.nav-collapse
  %ul.nav
    %li= link_to 'About us', Page.where(:country => cookies[:country]).find_by_title('About us')
    %li= link_to 'What We Do', Page.where(:country => cookies[:country]).find_by_title('What We Do')
    %li= link_to SiteConfig.find_by_name('timeline_title').setting, timeline_path
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
          Country
          %b.caret
        %ul.dropdown-menu
          - Page.find_by_sql("SELECT DISTINCT country FROM pages ORDER BY country ASC").each do |country|
            %li= link_to Carmen.country_name(country.country), pages_path(:country => country.country)
    %li.divider-vertical
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
          Resources
          %b.caret
        %ul.dropdown-menu
          - if can? :read, Moment
            %li
              = link_to timeline_path do
                %i.icon-time
                50th Timeline
          - if can? :read, CaseStudy
            %li
              = link_to case_studies_path do
                %i.icon-road
                Case Studies
          - if can? :read, Page
            %li
              = link_to updated_pages_path do
                %i.icon-list-alt
                Content
          - if can? :read, Document
            %li
              = link_to documents_path do
                %i.icon-file
                Files
          - if can? :read, Library
            %li
              = link_to libraries_path do
                %i.icon-book
                Libraries
          - if can? :read, Photo
            %li
              = link_to photos_path do
                %i.icon-picture
                Photos
            -#%li= link_to videos_path do
              %i.icon-film
              Videos
          - if can? :read, Staff
            %li
              = link_to :controller => 'staff', :action => 'index' do
                %i.icon-user
                Staff
          - if can? :read, User
            %li
              = link_to users_path do
                %i.icon-user
                Users
          - if can? :read, Volunteer
            %li
              = link_to volunteers_path do
                %i.icon-user
                Volunteers
          - if user_signed_in?
            - if current_user.role?(:volunteer) || current_user.role?(:staff)
              %li.divider
              %li.nav-header Upload
              - if can? :create, Document
                %li
                  = link_to new_document_path do
                    %i.icon-file
                    File
              - if can? :create, Photo
                %li
                  = link_to new_photo_path do
                    %i.icon-picture
                    Photo
              %li.divider
              %li.nav-header Create
              - if can? :create, CaseStudy
                %li
                  = link_to new_case_study_path do
                    %i.icon-road
                    Case Study
              - if can? :create, Library
                %li
                  = link_to new_library_path do
                    %i.icon-book
                    Library
              - if can? :create, Page
                %li
                  = link_to new_page_path do
                    %i.icon-list-alt
                    Page
              - if can? :create, Moment
                %li
                  = link_to new_moment_path do
                    %i.icon-time
                    Timeline Event
          %li.divider
          %li.nav-header Visit us
          %li
            = link_to '/facebook' do
              %i.icon-share-alt
              Facebook
          %li
            = link_to '/youtube' do
              %i.icon-share-alt
              YouTube
.nav-collapse.pull-right
  %ul.nav
    - if signed_in?
      - if current_user.beta? && current_user.volunteer.present?
        %ul.nav
          %li
            %a.navbar-text{:rel => 'popover-bottom', :title => 'COS Countdown', 'data-content' => 'Days until you COS. Scary, huh?'}
              %span.countdown.badge.badge-warning{:title => "#{current_user.volunteers.first.cos_date.strftime('%m %B %Y')} 15:38:30"}
                %span.days 00
                days
                -#\:
                -#%span.hours 00
                -#\:
                -#%span.minutes 00
                -#\:
                -#%span.seconds 00
      - elsif current_user.beta? && current_user.volunteers.any?
        %ul.nav
          %li
            = link_to current_user, { :class => 'navbar-text', :rel => 'popover-bottom', :title => 'Missing Profile Info', 'data-content' => "You've got missing info in your profile! It's probably swear in/cos info. Complete your profile to see a COS countdown timer!" } do
              %span.badge.badge-important incomplete!
      - if current_user.role? :admin
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
              Manage
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to blogs_path do
                  %i.icon-leaf
                  Blogs
                  %span.badge= Blog.count
              %li
                = link_to contributions_path do
                  %i.icon-asterisk
                  Contributions
              %li
                = link_to case_studies_path do
                  %i.icon-road
                  Case Studies
                  %span.badge= CaseStudy.count
              %li
                = link_to table_documents_path do
                  %i.icon-file
                  Documents
                  %span.badge= Document.count
              %li
                = link_to feedback_index_path do
                  %i.icon-bullhorn
                  Feedback
                  %span.badge= Feedback.count
              %li= link_to "imports", imports_path
              %li
                = link_to jobs_path do
                  Jobs
                  %span.badge= Job.count
              %li
                = link_to languages_path do
                  Languages
                  %span.badge= Language.count
              %li
                = link_to libraries_path do
                  %i.icon-book
                  Libraries
                  %span.badge= Library.count
              %li
                = link_to moments_path do
                  %i.icon-time
                  Moments
                  %span.badge= Moment.count
              %li
                = link_to pages_path do
                  %i.icon-list-alt
                  Pages
                  %span.badge= Page.count
              %li= link_to "pc regions", pc_regions_path
              %li
                = link_to photos_path do
                  %i.icon-picture
                  Photos
                  %span.badge= Photo.count
              %li
                = link_to positions_path do
                  Positions
                  %span.badge= Position.count
              %li
                = link_to regions_path do
                  %i.icon-globe
                  Regions
                  %span.badge= Region.count
              %li= link_to "region types", regiontypes_path
              %li= link_to "scopes", scopes_path
              %li
                = link_to sectors_path do
                  Sectors
                  %span.badge= Sector.count
              %li
                = link_to sites_path do
                  Sites
                  %span.badge= Site.count
              %li= link_to "Stacks", stacks_path
              %li
                = link_to staff_path do
                  %i.icon-user
                  Staff
                  %span.badge= Staff.count
              %li
                = link_to stages_path do
                  Stages
                  %span.badge= Stage.count
              %li
                = link_to table_users_path do
                  %i.icon-user
                  Users
                  %span.badge= User.count
              %li
                = link_to volunteers_path do
                  %i.icon-user
                  Volunteers
                  %span.badge= Volunteer.count
              %li
                = link_to websites_path do
                  %i.icon-globe
                  Websites
                  %span.badge= Website.count
      -#%li= avatar_for_user current_user, :size => :icon
      %ul.nav
        %li.dropdown
          %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
            = current_user.name
            %b.caret
          %ul.dropdown-menu.pull-right
            %li
              = link_to dashboard_path do
                %i.icon-home
                Dashboard
            %li
              = link_to current_user do
                %i.icon-user
                Profile
            %li
              = link_to 'https://' + request.host do
                %i.icon-lock
                Encrypt session
            %li
              = link_to new_feedback_path do
                %i.icon-bullhorn
                Leave feedback
            %li
              = link_to '/help' do
                %i.icon-question-sign
                Help me!
            - if can? :read, SiteConfig
              %li.divider
              %li
                = link_to site_configs_path do
                  %i.icon-cog
                  Site Configuration
            %li.divider
            %li
              = link_to user_tickets_path(current_user) do
                %i.icon-tasks
                Tickets
                %span.badge.badge-success #{current_user.tickets.count}
            %li
              = link_to edit_user_registration_path(current_user) do
                %i.icon-barcode
                Change password
            %li
              = link_to '/logout' do
                %i.icon-off
                %span.label.label-important Sign out
    - else
      %ul.nav
        %li.dropdown
          %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
            sign in
            %b.caret
          %ul.dropdown-menu.pull-right
            %li
              = link_to login_path do
                %i.icon-arrow-right
                %span.label.label-success Sign in
            %li
              = link_to new_user_registration_path do
                %i.icon-plus
                Sign up!
            %li.divider
            %li
              = link_to 'https://' + request.host do
                %i.icon-lock
                Encrypt session
            %li
              = link_to new_feedback_path do
                %i.icon-comment
                Leave feedback
            %li
              = link_to '/help' do
                %i.icon-question-sign
                Help me!

