%h4 Moderator
%ul
  %li= link_to 'users', users_path
  %li= link_to 'volunteers', volunteers_path
  %li= link_to 'staff', staff_index_path
  %li= link_to 'memberships', memberships_path
  %li= link_to 'pc regions', pcregions_path
  %li= link_to 'countries', countries_path
  %li= link_to 'region types', regiontypes_path
  %li= link_to 'regions', regions_path
  %li= link_to 'sites', sites_path
  %li= link_to 'pages', pages_path
  %li= link_to 'contributions', contributions_path
  %li= link_to 'feedback', feedback_index_path
  %li= link_to 'blogs', blogs_path
  %li= link_to 'websites', websites_path
  %li= link_to 'positions', positions_path
  %li= link_to 'sectors', sectors_path
  %li= link_to 'moments', moments_path
.clearfloat
