#moderator_menu_bar
  = render 'layouts/context_menu_bar'
  %h4 Moderator
  %ul
    %li= link_to 'documents', documents_path
    %li= link_to 'feedback', feedback_index_path
    %li= link_to 'libraries', libraries_path
    %li= link_to 'photos', photos_path
  .clearfloat
