<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = rss_auto_links
    = csrf_meta_tags
    %link{:href => image_path('favicon.ico'), :type => 'image/x-icon', :rel => 'icon'}
  %body{:class => "#{params[:controller]}", :id => "#{params[:action]}"}
    = render 'layouts/header'
    #main
      #header_spacer
      = render 'layouts/photobar' if Photo.all.count > 19
      = render 'layouts/notice' if notice
      = render 'layouts/alert' if alert
      #page
        = yield
        - if Rails.env.development?
          .container
            .row
              .twelvecol.last
                = debug(params)
                Class: #{params[:controller]}
                %br
                ID: #{params[:action]}
    = render 'layouts/footer'
    - if user_signed_in?
      = render 'layouts/user_menu_bar'
      = render 'layouts/admin_menu_bar' if current_user.role? :admin
      = render 'layouts/moderator_menu_bar' if current_user.role?(:moderator) && !current_user.role?(:admin)
    = render 'layouts/feedback' unless user_signed_in? && (current_user.role?(:admin) || current_user.role?(:moderator))
