<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = render 'layouts/head_scripts'
    = rss_auto_links
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :href => image_path('favicon.ico'), :type => 'image/x-icon', :rel => 'icon'}
    = render 'shared/google_analytics' unless Rails.env.development? || Rails.env.test?
  %body{:class => "#{params[:controller]}", :id => "#{params[:action]}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/header'
    = render 'layouts/photobar' #if Photo.count > 19
    .container
      - if signed_in? && current_user.role?(:admin)
        .well{:style => "position:fixed;right:0;top:136px;max-width:200px;"}
          %h4 Locked Pages
          - @locks = REDIS.keys('locks:pages:*')
          - if @locks.any?
            %ol
              - REDIS.mget(@locks).each do |item|
                %li= item
          - else
            %p -
          %h4 Locked Case Studies
          - @locks = REDIS.keys('locks:case_studies:*')
          - if @locks.any?
            %ol
              - REDIS.mget(@locks).each do |item|
                %li= item
          - else
            %p -
      = render 'layouts/notice', :notice => notice if notice
      = render 'layouts/alert', :alert => alert if alert
      = yield
      - if Rails.env.development?
        .row
          .span12
            = debug(params)
    %br
    %br
    = render 'layouts/footer'
