<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = render 'layouts/head_styles'
    = javascript_include_tag "application"
    = render 'layouts/head_scripts'
    = rss_auto_links
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{:href => image_path('favicon.ico'), :type => 'image/x-icon', :rel => 'icon'}
    = render 'shared/google_analytics' unless Rails.env.development? || Rails.env.test?
  %body{:class => "#{params[:controller]}", :id => "#{params[:action]}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = render 'layouts/header'
    = render 'layouts/photobar'# if Photo.count > 19
    .container-fluid
      = render 'layouts/notice' if notice
      = render 'layouts/alert' if alert
      = yield
      - if Rails.env.development?
        .row-fluid
          .span12
            = debug(params)
    = render 'layouts/footer'
    = render 'shared/zopim' unless Rails.env.development? || Rails.env.test?
