<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    #main
      #header_spacing
      #menu_bar.container
        %h1 Menu Item &rArr; &rang; &diams;
      #page
        = yield
    = render 'layouts/footer'
