<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    #main
      #header_spacing
      = render 'layouts/menu_bar' unless @title.nil?
      = render 'layouts/admin_menu_bar' if admin_user?
      #page
        = yield
    = render 'layouts/footer'
