<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => image_path('favicon.ico'), :type => 'image/x-icon', :rel => 'icon'}

  %body{:class => "#{params[:controller].parameterize}", :id => "#{params[:action]}"}
    = render 'layouts/header'
    #main
      #header_spacer
      = render 'layouts/context_menu_bar' unless @title.nil?
      - if signed_in?
        = render 'layouts/admin_menu_bar' if current_user.admin?
      = render 'layouts/notice_bar' if notice
      #page
        = yield
        = debug(params) if Rails.env.development?
        -#= find_named_routes.inspect if Rails.env.development?
        #{params[:controller].parameterize} #{params[:action].parameterize}
    = render 'layouts/footer'
    = render 'layouts/feedback'
