<!DOCTYPE html>
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => image_path('favicon.ico'), :type => 'image/x-icon', :rel => 'icon'}
    = render 'shared/google_analytics' unless Rails.env.development? || Rails.env.test?
  %body{:class => "#{params[:controller]}", :id => "#{params[:action]}"}
    :erb
      <script type="text/javascript" 
       src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
    
      <style>
       /* 
        CSS rules to use for styling the overlay:
          .chromeFrameOverlayContent
          .chromeFrameOverlayContent iframe
          .chromeFrameOverlayCloseBar
          .chromeFrameOverlayUnderlay
       */
      </style> 
    
      <script>
       // You may want to place these lines inside an onload handler
       CFInstall.check({
         mode: "overlay",
         destination: "http://www.waikiki.com"
       });
      </script>
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/header'
    .container
      = render 'layouts/notice' if notice
      = render 'layouts/alert' if alert
      = yield
      .row
        .span12
          - if Rails.env.development?
            .container
              .row
                .twelvecol.last
                  = debug(params)
                  -#= find_named_routes.inspect if Rails.env.development?
                  Class: #{params[:controller]}
                  %br
                  ID: #{params[:action]}
    = render 'layouts/footer'
    = render 'layouts/feedback' unless can? :create, Feedback
